Repository e0ipso/self-review: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-eslint.js, prettier --write

fix: restore file-type-utils.ts in core package
  packages/core/src/file-type-utils.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(release): 1.28.3 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/types/package.json
Due: prettier --write

Notes added by 'git notes add'
  8ecf82a04944b866b2ee8a25491d7b6a1039ea96
Due: none

feat(react): add useReviewBridge hook
  packages/react/src/ReviewPanel.tsx
  packages/react/src/SingleFileReview.tsx
  packages/react/src/hooks/useReviewBridge.test.ts
  packages/react/src/hooks/useReviewBridge.ts
  packages/react/src/index.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat(react): ship compiled CSS and scope theme
  package-lock.json
  packages/react/AGENTS.md
  packages/react/package.json
  packages/react/src/build-styles.css
  packages/react/src/components/ui/alert-dialog.tsx
  packages/react/src/components/ui/dropdown-menu.tsx
  packages/react/src/components/ui/select.tsx
  packages/react/src/components/ui/tooltip.tsx
  packages/react/src/context/ConfigContext.tsx
  packages/react/src/styles.css
Due: node scripts/lint-staged-eslint.js, prettier --write

fix(react): scope CSS vars to wrapper
  packages/react/src/styles.css
  tests/webapp-steps/05-view-modes-and-toolbar.steps.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix(react): stabilize onReviewChange
  packages/react/package.json
  packages/react/src/SingleFileReview.tsx
  packages/react/src/hooks/useReviewBridge.test.ts
  packages/react/src/hooks/useReviewBridge.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

Notes added by 'git notes add'
  827a3ebb2c49968a68126cbcfaaf216077f6d4f0
Due: none

fix(react): use callback ref in ConfigProvider
  packages/react/src/context/ConfigContext.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

docs(react): update portal container docs
  packages/react/AGENTS.md
Due: prettier --write

fix(react): scope Prism style per ConfigProvider
  packages/react/src/context/ConfigContext.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

fix(react): scope Prism style per ConfigProvider & fix portal null on first render (#61)
  packages/react/AGENTS.md
  packages/react/src/context/ConfigContext.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(release): 1.28.5 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/types/package.json
Due: prettier --write

Notes added by 'git notes add'
  73364e33adcd73c6cc4bd108a2f4c1242ad62713
Due: none

fix(ci): add NO_COLOR=1 to releases
  .github/workflows/release-darwin.yml
  .github/workflows/release.yml
Due: prettier --write

fix(ci): add NO_COLOR=1 to releases (#63)
  .github/workflows/release-darwin.yml
  .github/workflows/release.yml
Due: prettier --write

Notes added by 'git notes add'
  cfa2c7b216023118fae32c69f83b531a5a8b6667
Due: none

fix(ci): build packages in macOS release
  .github/workflows/release-darwin.yml
Due: prettier --write

fix(ci): build packages in macOS release (#64)
  .github/workflows/release-darwin.yml
Due: prettier --write

Notes added by 'git notes add'
  47db08ebe7f07331455a9222228b07fe158a29bd
Due: none

fix(react): bundle vendor CSS & Prism
  packages/react/src/build-styles.css
  packages/react/src/components/DiffViewer/SyntaxLine.tsx
  packages/react/src/vendor/md-editor-scoped.css
  packages/react/src/vendor/prism-dark-scoped.css
  packages/react/src/vendor/prism-light-scoped.css
Due: node scripts/lint-staged-eslint.js, prettier --write

fix(react): mdEditor dark mode detection
  packages/react/src/components/Comments/CommentInput.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

fix(react): dark mode detection and syntax highlighting (#65)
  packages/react/src/build-styles.css
  packages/react/src/components/Comments/CommentInput.tsx
  packages/react/src/components/DiffViewer/SyntaxLine.tsx
  packages/react/src/vendor/md-editor-scoped.css
  packages/react/src/vendor/prism-dark-scoped.css
  packages/react/src/vendor/prism-light-scoped.css
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(release): 1.28.8 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/types/package.json
Due: prettier --write

Notes added by 'git notes add'
  20724f5964db4be1aacb738f563a490107e56938
Due: none

fix: ignore worktree dirs in eslint config
  eslint.config.mjs
  packages/react/package.json
  packages/react/src/components/DiffViewer/FrontMatterTable.test.tsx
  packages/react/src/components/DiffViewer/FrontMatterTable.tsx
  packages/react/src/components/ui/table.tsx
  packages/react/src/utils/front-matter.test.ts
  packages/react/src/utils/front-matter.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat(react): integrate front matter table
  packages/react/src/components/DiffViewer/RenderedMarkdownView.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

docs: document front matter table rendering
  AGENTS.md
Due: prettier --write

fix: update lock file
  package-lock.json
Due: prettier --write

fix: apply feedback
  improve.png
  packages/react/src/components/DiffViewer/FrontMatterTable.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

Notes added by 'git notes add'
  2ed4fdbfda0019a9736702aa2b9e06e97a64836e
Due: none

feat(schema): add author to CommentType
  .claude/skills/self-review-apply/assets/self-review-v1.xsd
  eslint.config.mjs
  packages/core/src/xml-serializer.ts
  packages/types/src/index.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: wire author through XML pipeline
  .claude/skills/self-review-critique/SKILL.md
  AGENTS.md
  packages/core/src/xml-parser.test.ts
  packages/core/src/xml-parser.ts
  packages/core/src/xml-serializer.test.ts
  packages/core/src/xml-serializer.ts
  packages/react/src/components/Comments/CommentDisplay.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

chore: ignore worktrees
  .gitignore
Due: none

chore: apply review
  packages/core/src/xml-parser.ts
  packages/react/src/components/Comments/CommentDisplay.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

Notes added by 'git notes add'
  68aca49d3ccba05d915de39e215eb8b0bfd7234f
Due: none

chore(release): 1.31.0 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/types/package.json
Due: prettier --write

Notes added by 'git notes add'
  3cddd27c319134d5f24c76b019ac5e9fdbd28886
Due: none

feat(ui): differentiate file vs hunk gaps
  packages/react/src/components/DiffViewer/FileSection.tsx
  packages/react/src/components/DiffViewer/FileSectionHeader.tsx
  packages/react/src/components/DiffViewer/HunkHeader.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

fix(ui): card-style file sections
  packages/react/src/components/DiffViewer/FileSection.tsx
  packages/react/src/components/DiffViewer/FileSectionHeader.tsx
  packages/react/src/components/DiffViewer/HunkHeader.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

Path conditions:
  node scripts/lint-staged-eslint.js: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})
