Repository e0ipso/self-review: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-eslint.js, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["node scripts/lint-staged-eslint.js", "prettier --write"],
  "*.{js,jsx}": ["node scripts/lint-staged-eslint.js", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

Notes added by 'git notes add'
  9708cf54202ed8de265e75586d85ab9c99065006
Due: none

ci: modernize GitHub Actions to Node 24 LTS and upgrade actions
  .github/workflows/ci.yml
  .github/workflows/release-darwin.yml
  .github/workflows/release.yml
  .github/workflows/update-flake-hash.yml
Due: prettier --write

ci: modernize GitHub Actions to Node 24 LTS and upgrade actions (#105)
  .github/workflows/ci.yml
  .github/workflows/release-darwin.yml
  .github/workflows/release.yml
  .github/workflows/update-flake-hash.yml
Due: prettier --write

docs: document Homebrew as primary install method
  README.md
Due: prettier --write

docs: update README.md
  README.md
Due: prettier --write

feat: add Help menu with Documentation link and About dialog
  src/main/app-assets.ts
  src/main/ipc-handlers.test.ts
  src/main/ipc-handlers.ts
  src/main/main.ts
  src/main/menu.ts
  src/preload/preload.ts
  src/renderer/App.tsx
  src/renderer/components/AboutDialog.tsx
  src/shared/ipc-channels.ts
  src/shared/types.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: add Help menu with Documentation link and About dialog (#107)
  src/main/app-assets.ts
  src/main/ipc-handlers.test.ts
  src/main/ipc-handlers.ts
  src/main/main.ts
  src/main/menu.ts
  src/preload/preload.ts
  src/renderer/App.tsx
  src/renderer/components/AboutDialog.tsx
  src/shared/ipc-channels.ts
  src/shared/types.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(release): 1.38.0 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/types/package.json
Due: prettier --write

Notes added by 'git notes add'
  e7aaf2c5ebc6a509b40e4711faa54b09b5ab496b
Due: none

feat: add severity and confidence to comments (schema v2)
  .agents/skills/self-review-apply/SKILL.md
  .agents/skills/self-review-apply/assets/self-review-v2.xsd
  .agents/skills/self-review-critique/SKILL.md
  .ai/kenkeep/GRAPH.md
  .ai/kenkeep/INDEX.md
  .ai/kenkeep/nodes/map/map-review-xml-format-and-xsd.md
  .ai/kenkeep/nodes/map/map-self-review-apply-assistant-skill.md
  .ai/kenkeep/nodes/map/map-self-review-apply-skill.md
  .ai/kenkeep/nodes/map/map-self-review-v1-xsd-output-format.md
  .ai/kenkeep/nodes/map/map-self-review-xml-schema-self-review-v1-xsd.md
  .ai/kenkeep/nodes/map/map-self-review-xml-v1-schema.md
  .ai/kenkeep/nodes/map/map-xsd-schema-location.md
  .ai/kenkeep/nodes/practice/practice-keep-the-xsd-schema-in-sync-across-its-two-locations.md
  .ai/kenkeep/nodes/practice/practice-pair-comment-line-numbers-as-either-new-or-old-never-both.md
  .ai/kenkeep/nodes/practice/practice-pair-line-number-attributes-correctly-in-review-comments.md
  .ai/kenkeep/nodes/practice/practice-validate-generated-review-xml-against-the-xsd-before-finishing.md
  .ai/kenkeep/nodes/practice/practice-validate-generated-review-xml-against-the-xsd-with-xmllint.md
  .ai/kenkeep/nodes/practice/practice-validate-self-review-xml-against-the-xsd-before-applying.md
  .opencode/skills/self-review-apply/SKILL.md
  .opencode/skills/self-review-apply/assets/self-review-v2.xsd
  .opencode/skills/self-review-critique/SKILL.md
  AGENTS.md
  README.md
  docs/PRD.md
  package.json
  packages/core/src/index.ts
  packages/core/src/xml-parser.test.ts
  packages/core/src/xml-parser.ts
  packages/core/src/xml-serializer.test.ts
  packages/core/src/xsd-schema.test.ts
  packages/react/src/components/Comments/CommentDisplay.tsx
  packages/types/src/index.ts
  src/shared/types.ts
  tests/features/07-xml-output.feature
  tests/features/08-resume.feature
  tests/fixtures/test-repo.ts
  tests/steps/08-resume.steps.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: add severity and confidence to comments (schema v2) (#112)
  .agents/skills/self-review-apply/SKILL.md
  .agents/skills/self-review-apply/assets/self-review-v2.xsd
  .agents/skills/self-review-critique/SKILL.md
  .ai/kenkeep/GRAPH.md
  .ai/kenkeep/INDEX.md
  .ai/kenkeep/nodes/map/map-review-xml-format-and-xsd.md
  .ai/kenkeep/nodes/map/map-self-review-apply-assistant-skill.md
  .ai/kenkeep/nodes/map/map-self-review-apply-skill.md
  .ai/kenkeep/nodes/map/map-self-review-v1-xsd-output-format.md
  .ai/kenkeep/nodes/map/map-self-review-xml-schema-self-review-v1-xsd.md
  .ai/kenkeep/nodes/map/map-self-review-xml-v1-schema.md
  .ai/kenkeep/nodes/map/map-xsd-schema-location.md
  .ai/kenkeep/nodes/practice/practice-keep-the-xsd-schema-in-sync-across-its-two-locations.md
  .ai/kenkeep/nodes/practice/practice-pair-comment-line-numbers-as-either-new-or-old-never-both.md
  .ai/kenkeep/nodes/practice/practice-pair-line-number-attributes-correctly-in-review-comments.md
  .ai/kenkeep/nodes/practice/practice-validate-generated-review-xml-against-the-xsd-before-finishing.md
  .ai/kenkeep/nodes/practice/practice-validate-generated-review-xml-against-the-xsd-with-xmllint.md
  .ai/kenkeep/nodes/practice/practice-validate-self-review-xml-against-the-xsd-before-applying.md
  .opencode/skills/self-review-apply/SKILL.md
  .opencode/skills/self-review-apply/assets/self-review-v2.xsd
  .opencode/skills/self-review-critique/SKILL.md
  AGENTS.md
  README.md
  docs/PRD.md
  package.json
  packages/core/src/index.ts
  packages/core/src/xml-parser.test.ts
  packages/core/src/xml-parser.ts
  packages/core/src/xml-serializer.test.ts
  packages/core/src/xsd-schema.test.ts
  packages/react/src/components/Comments/CommentDisplay.tsx
  packages/types/src/index.ts
  src/shared/types.ts
  tests/features/07-xml-output.feature
  tests/features/08-resume.feature
  tests/fixtures/test-repo.ts
  tests/steps/08-resume.steps.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(release): 1.39.0 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/types/package.json
Due: prettier --write

Notes added by 'git notes add'
  a05b08748b1ba68f9563fb5b1411c5d258edee06
Due: none

chore: update devcontainer for CLI compatibility
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
  .devcontainer/scripts/seed-auth.sh
  .devcontainer/scripts/seed-t3-settings.sh
  .gitignore
Due: prettier --write

fix: suppress speculative findings in self-review-critique
  .agents/skills/self-review-critique/SKILL.md
  .opencode/skills/self-review-critique/SKILL.md
Due: prettier --write

chore: declare .agents/skills as an opencode skill path
  opencode.json
Due: prettier --write

refactor: symlink opencode skills at the .agents originals
  .opencode/skills/self-review-apply
  .opencode/skills/self-review-apply/SKILL.md
  .opencode/skills/self-review-apply/assets/self-review-v1.xsd
  .opencode/skills/self-review-apply/assets/self-review-v2.xsd
  .opencode/skills/self-review-critique
  .opencode/skills/self-review-critique/SKILL.md
  AGENTS.md
  packages/core/src/xsd-schema.test.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: suppress speculative findings in self-review-critique (#114)
  .agents/skills/self-review-critique/SKILL.md
  .opencode/skills/self-review-apply
  .opencode/skills/self-review-apply/SKILL.md
  .opencode/skills/self-review-apply/assets/self-review-v1.xsd
  .opencode/skills/self-review-apply/assets/self-review-v2.xsd
  .opencode/skills/self-review-critique
  .opencode/skills/self-review-critique/SKILL.md
  AGENTS.md
  opencode.json
  packages/core/src/xsd-schema.test.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(release): 1.39.1 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/types/package.json
Due: prettier --write

Notes added by 'git notes add'
  d7fb768967642855c26d742a157fae24c1966a31
Due: none

fix: restore viewed file state when resuming a review
  AGENTS.md
  docs/PRD.md
  packages/core/src/xml-parser.test.ts
  packages/core/src/xml-parser.ts
  packages/react/src/SingleFileReview.test.tsx
  packages/react/src/SingleFileReview.tsx
  packages/react/src/adapter.ts
  packages/react/src/components/FileTree.test.tsx
  packages/react/src/context/ReviewContext.test.tsx
  packages/react/src/context/ReviewContext.tsx
  packages/react/src/test-helpers.ts
  packages/types/src/index.ts
  src/main/ipc-handlers.ts
  src/main/main.ts
  src/renderer/App.tsx
  tests/features/08-resume.feature
  tests/fixtures/test-repo.ts
  tests/steps/08-resume.steps.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: restore viewed file state when resuming a review (#116)
  AGENTS.md
  docs/PRD.md
  packages/core/src/xml-parser.test.ts
  packages/core/src/xml-parser.ts
  packages/react/src/SingleFileReview.test.tsx
  packages/react/src/SingleFileReview.tsx
  packages/react/src/adapter.ts
  packages/react/src/components/FileTree.test.tsx
  packages/react/src/context/ReviewContext.test.tsx
  packages/react/src/context/ReviewContext.tsx
  packages/react/src/test-helpers.ts
  packages/types/src/index.ts
  src/main/ipc-handlers.ts
  src/main/main.ts
  src/renderer/App.tsx
  tests/features/08-resume.feature
  tests/fixtures/test-repo.ts
  tests/steps/08-resume.steps.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(release): 1.39.2 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/types/package.json
Due: prettier --write

Notes added by 'git notes add'
  6b5a009b5063e084e63318f317e99b0529d64983
Due: none

feat(schema): cut self-review-v3.xsd with a reply contract
  .agents/skills/self-review-apply/assets/self-review-v3.xsd
  .ai/strikethroo/plans/57--threaded-comment-replies/plan-57--threaded-comment-replies.md
  .ai/strikethroo/plans/57--threaded-comment-replies/review/base-commit.json
  .ai/strikethroo/plans/57--threaded-comment-replies/tasks/01--cut-the-v3-xsd-and-retarget-the-sync-guard.md
  .ai/strikethroo/plans/57--threaded-comment-replies/tasks/02--add-reply-to-the-shared-type-contract.md
  .ai/strikethroo/plans/57--threaded-comment-replies/tasks/03--serialize-replies-and-their-attachments.md
  .ai/strikethroo/plans/57--threaded-comment-replies/tasks/04--parse-replies-from-any-namespace-version.md
  .ai/strikethroo/plans/57--threaded-comment-replies/tasks/05--add-reply-operations-to-review-state.md
  .ai/strikethroo/plans/57--threaded-comment-replies/tasks/06--extract-the-composer-core-and-add-replyinput.md
  .ai/strikethroo/plans/57--threaded-comment-replies/tasks/07--render-threads-in-commentdisplay.md
  .ai/strikethroo/plans/57--threaded-comment-replies/tasks/08--teach-both-assistant-skills-to-thread.md
  .ai/strikethroo/plans/57--threaded-comment-replies/tasks/09--retarget-project-documentation-at-v3.md
  .ai/strikethroo/plans/57--threaded-comment-replies/tasks/10--webapp-e2e-scenarios-for-replies.md
  .ai/strikethroo/plans/57--threaded-comment-replies/tasks/11--electron-e2e-scenarios-for-thread-round-trip.md
  packages/core/src/xml-serializer.test.ts
  packages/core/src/xsd-schema.test.ts
  packages/types/src/index.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat(replies): read, write and hold threaded comment replies
  .agents/skills/self-review-apply/SKILL.md
  .agents/skills/self-review-critique/SKILL.md
  .ai/strikethroo/plans/57--threaded-comment-replies/plan-57--threaded-comment-replies.md
  .ai/strikethroo/plans/57--threaded-comment-replies/tasks/03--serialize-replies-and-their-attachments.md
  .ai/strikethroo/plans/57--threaded-comment-replies/tasks/04--parse-replies-from-any-namespace-version.md
  .ai/strikethroo/plans/57--threaded-comment-replies/tasks/05--add-reply-operations-to-review-state.md
  .ai/strikethroo/plans/57--threaded-comment-replies/tasks/08--teach-both-assistant-skills-to-thread.md
  .ai/strikethroo/plans/57--threaded-comment-replies/tasks/09--retarget-project-documentation-at-v3.md
  AGENTS.md
  README.md
  docs/PRD.md
  packages/core/src/xml-parser.test.ts
  packages/core/src/xml-parser.ts
  packages/core/src/xml-serializer.test.ts
  packages/core/src/xml-serializer.ts
  packages/core/src/xsd-schema.test.ts
  packages/react/src/context/ReviewContext.tsx
  packages/react/src/hooks/useReviewState.test.ts
  packages/react/src/hooks/useReviewState.ts
  packages/react/src/index.ts
  src/shared/types.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

refactor(comments): extract the composer core, add ReplyInput
  .ai/strikethroo/plans/57--threaded-comment-replies/plan-57--threaded-comment-replies.md
  .ai/strikethroo/plans/57--threaded-comment-replies/tasks/06--extract-the-composer-core-and-add-replyinput.md
  packages/react/src/components/Comments/CommentInput.tsx
  packages/react/src/components/Comments/ComposerCore.tsx
  packages/react/src/components/Comments/ReplyInput.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

feat(comments): render reply threads and the Reply affordance
  .ai/strikethroo/plans/57--threaded-comment-replies/plan-57--threaded-comment-replies.md
  .ai/strikethroo/plans/57--threaded-comment-replies/tasks/07--render-threads-in-commentdisplay.md
  packages/react/src/components/Comments/CommentDisplay.test.tsx
  packages/react/src/components/Comments/CommentDisplay.tsx
  packages/react/src/components/Comments/ReplyDisplay.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

test(e2e): cover reply threads in both e2e tiers
  .ai/strikethroo/plans/57--threaded-comment-replies/plan-57--threaded-comment-replies.md
  .ai/strikethroo/plans/57--threaded-comment-replies/tasks/10--webapp-e2e-scenarios-for-replies.md
  .ai/strikethroo/plans/57--threaded-comment-replies/tasks/11--electron-e2e-scenarios-for-thread-round-trip.md
  tests/features/07-xml-output.feature
  tests/features/08-resume.feature
  tests/fixtures/test-repo.ts
  tests/steps/07-xml-output.steps.ts
  tests/steps/08-resume.steps.ts
  tests/webapp-features/03-commenting.feature
  tests/webapp-steps/03-commenting.steps.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(plan-57): record execution summary and archive the plan
  .ai/strikethroo/archive/57--threaded-comment-replies/plan-57--threaded-comment-replies.md
  .ai/strikethroo/archive/57--threaded-comment-replies/review/base-commit.json
  .ai/strikethroo/archive/57--threaded-comment-replies/tasks/01--cut-the-v3-xsd-and-retarget-the-sync-guard.md
  .ai/strikethroo/archive/57--threaded-comment-replies/tasks/02--add-reply-to-the-shared-type-contract.md
  .ai/strikethroo/archive/57--threaded-comment-replies/tasks/03--serialize-replies-and-their-attachments.md
  .ai/strikethroo/archive/57--threaded-comment-replies/tasks/04--parse-replies-from-any-namespace-version.md
  .ai/strikethroo/archive/57--threaded-comment-replies/tasks/05--add-reply-operations-to-review-state.md
  .ai/strikethroo/archive/57--threaded-comment-replies/tasks/06--extract-the-composer-core-and-add-replyinput.md
  .ai/strikethroo/archive/57--threaded-comment-replies/tasks/07--render-threads-in-commentdisplay.md
  .ai/strikethroo/archive/57--threaded-comment-replies/tasks/08--teach-both-assistant-skills-to-thread.md
  .ai/strikethroo/archive/57--threaded-comment-replies/tasks/09--retarget-project-documentation-at-v3.md
  .ai/strikethroo/archive/57--threaded-comment-replies/tasks/10--webapp-e2e-scenarios-for-replies.md
  .ai/strikethroo/archive/57--threaded-comment-replies/tasks/11--electron-e2e-scenarios-for-thread-round-trip.md
Due: prettier --write

chore: update Strikethroo and Kenkeep
  .ai/strikethroo/.init-metadata.json
  .ai/strikethroo/README.md
  .ai/strikethroo/config/STRIKETHROO.md
  .ai/strikethroo/config/config.yaml
  .ai/strikethroo/config/hooks/CODE_REVIEW.md
  .ai/strikethroo/config/hooks/POST_ERROR_DETECTION.md
  .ai/strikethroo/config/hooks/POST_EXECUTION.md
  .ai/strikethroo/config/hooks/POST_PHASE.md
  .ai/strikethroo/config/hooks/POST_PLAN.md
  .ai/strikethroo/config/hooks/POST_TASK_GENERATION_ALL.md
  .ai/strikethroo/config/hooks/PRE_PHASE.md
  .ai/strikethroo/config/hooks/PRE_PLAN.md
  .ai/strikethroo/config/hooks/PRE_TASK_ASSIGNMENT.md
  .ai/strikethroo/config/hooks/PRE_TASK_EXECUTION.md
  .ai/strikethroo/config/hooks/TASK_EXECUTION_ROUTING.md
  .ai/strikethroo/config/schemas/self-review-v2.xsd
  .ai/strikethroo/config/shared/anti-rationalization.md
  .ai/strikethroo/config/shared/clarification-gate.md
  .ai/strikethroo/config/shared/verification-gate.md
  .ai/strikethroo/config/templates/BLUEPRINT_TEMPLATE.md
  .ai/strikethroo/config/templates/EXECUTION_SUMMARY_TEMPLATE.md
  .ai/strikethroo/config/templates/TASK_TEMPLATE.md
  .ai/strikethroo/runtime/.npmignore
Due: prettier --write

fix: address threaded reply review feedback
  forge.config.ts
  packages/core/src/xml-parser.test.ts
  packages/core/src/xml-parser.ts
  packages/react/src/components/Comments/ReplyInput.test.tsx
  packages/react/src/components/Comments/ReplyInput.tsx
  packages/react/src/hooks/useReviewBridge.test.ts
  packages/react/src/hooks/useReviewBridge.ts
  tests/steps/app.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat(guide): define walkthrough guide XML contract (schema + types)
  .agents/skills/self-review-guide/assets/self-review-guide-v1.xsd
  packages/core/src/guide-schema.ts
  packages/core/src/index.ts
  packages/core/src/xsd-schema.test.ts
  packages/types/src/index.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat(guide): add core guide parser and self-review-guide skill
  .agents/skills/self-review-critique/SKILL.md
  .agents/skills/self-review-guide/SKILL.md
  .opencode/skills/self-review-guide
  AGENTS.md
  README.md
  packages/core/src/guide-parser.test.ts
  packages/core/src/guide-parser.ts
  packages/core/src/index.ts
  packages/core/src/xsd-schema.test.ts
  packages/types/src/index.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat(guide): discover and load the guide sidecar in the main process
  AGENTS.md
  packages/core/src/config.test.ts
  packages/core/src/config.ts
  packages/types/src/index.ts
  src/main/guide-loader.test.ts
  src/main/guide-loader.ts
  src/main/ipc-handlers.ts
  src/main/main.ts
  src/preload/preload.ts
  src/shared/ipc-channels.ts
  src/shared/types.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat(guide): guided walkthrough UI with grouped tree and overview
  packages/react/src/ReviewPanel.tsx
  packages/react/src/adapter.ts
  packages/react/src/components/DiffViewer/DiffViewer.tsx
  packages/react/src/components/DiffViewer/FileSection.tsx
  packages/react/src/components/DiffViewer/GuideOverviewPanel.tsx
  packages/react/src/components/DiffViewer/MarkdownCode.tsx
  packages/react/src/components/DiffViewer/RenderedMarkdownView.tsx
  packages/react/src/components/FileTree.tsx
  packages/react/src/components/FileTreeEntry.tsx
  packages/react/src/components/Toolbar.tsx
  packages/react/src/context/GuideContext.test.tsx
  packages/react/src/context/GuideContext.tsx
  packages/react/src/index.ts
  packages/react/src/utils/guide-display.test.ts
  packages/react/src/utils/guide-display.ts
  src/renderer/App.tsx
  tests/webapp/fixture-data.ts
  tests/webapp/main.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write
