Repository e0ipso/self-review: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-eslint.js, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["node scripts/lint-staged-eslint.js", "prettier --write"],
  "*.{js,jsx}": ["node scripts/lint-staged-eslint.js", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

refactor: slim screenshots and add XML example
  README.md
  tests/screenshots/use-case-screenshots.spec.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

refactor: deduplicate src/main by re-exporting from @self-review/core
  apps/electron/package.json
  apps/electron/src/renderer/ElectronAdapters.ts
  packages/react/src/ReviewPanel.tsx
  packages/react/src/SingleFileReview.tsx
  packages/react/src/context/ReviewContext.tsx
  pnpm-workspace.yaml
  src/main/config.test.ts
  src/main/config.ts
  src/main/diff-parser.test.ts
  src/main/diff-parser.ts
  src/main/directory-scanner.test.ts
  src/main/directory-scanner.ts
  src/main/fs-utils.test.ts
  src/main/fs-utils.ts
  src/main/git.test.ts
  src/main/git.ts
  src/main/ignore-filter.test.ts
  src/main/ignore-filter.ts
  src/main/payload-sizing.test.ts
  src/main/payload-sizing.ts
  src/main/synthetic-diff.ts
  src/main/xml-parser.test.ts
  src/main/xml-parser.ts
  src/main/xml-serializer.test.ts
  src/main/xml-serializer.ts
  src/shared/types.ts
  webpack.main.config.ts
  webpack.preload.config.ts
  webpack.renderer.config.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: add webapp e2e tests for @self-review/react library
  package-lock.json
  package.json
  packages/react/src/ReviewPanel.tsx
  playwright.config.ts
  tests/webapp-features/01-launch-and-display.feature
  tests/webapp-features/02-file-tree-navigation.feature
  tests/webapp-features/03-commenting.feature
  tests/webapp-features/04-suggestions.feature
  tests/webapp-features/05-view-modes-and-toolbar.feature
  tests/webapp-features/06-viewed-status.feature
  tests/webapp-steps/01-launch-and-display.steps.ts
  tests/webapp-steps/02-file-tree-navigation.steps.ts
  tests/webapp-steps/03-commenting.steps.ts
  tests/webapp-steps/04-suggestions.steps.ts
  tests/webapp-steps/05-view-modes-and-toolbar.steps.ts
  tests/webapp-steps/06-viewed-status.steps.ts
  tests/webapp-steps/app.ts
  tests/webapp/fixture-data.ts
  tests/webapp/index.html
  tests/webapp/main.tsx
  tests/webapp/styles.css
  tests/webapp/vite.config.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

refactor: remove Toolbar from ReviewPanel, add imperative ref handle
  packages/react/src/ReviewPanel.tsx
  packages/react/src/index.ts
  tests/webapp/main.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: add missing packages/core to git (was excluded by .gitignore)
  .gitignore
  packages/core/package.json
  packages/core/src/config.test.ts
  packages/core/src/config.ts
  packages/core/src/diff-parser.test.ts
  packages/core/src/diff-parser.ts
  packages/core/src/directory-scanner.test.ts
  packages/core/src/directory-scanner.ts
  packages/core/src/fs-utils.test.ts
  packages/core/src/fs-utils.ts
  packages/core/src/git.test.ts
  packages/core/src/git.ts
  packages/core/src/ignore-filter.test.ts
  packages/core/src/ignore-filter.ts
  packages/core/src/index.ts
  packages/core/src/payload-sizing.test.ts
  packages/core/src/payload-sizing.ts
  packages/core/src/synthetic-diff.ts
  packages/core/src/types.ts
  packages/core/src/xml-parser.test.ts
  packages/core/src/xml-parser.ts
  packages/core/src/xml-serializer.test.ts
  packages/core/src/xml-serializer.ts
  packages/core/tsconfig.json
  packages/core/tsup.config.ts
  packages/core/vitest.config.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: no colors in Vite
  tests/webapp-steps/app.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: replace pnpm with npm workspaces
  package-lock.json
  package.json
  packages/react/package.json
  pnpm-workspace.yaml
Due: prettier --write

docs: add npm workspaces to AGENTS.md
  AGENTS.md
Due: prettier --write

fix: resolve TS type narrowing in observer
  packages/react/src/context/DiffNavigationContext.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

feat(e2e): add fixture factories
  tests/webapp-steps/app.ts
  tests/webapp/fixture-data.ts
  tests/webapp/main.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

feat(e2e): port features 10, 13 to webapp
  tests/webapp-features/07-empty-diff-help.feature
  tests/webapp-features/08-rendered-markdown.feature
  tests/webapp-steps/07-empty-diff-help.steps.ts
  tests/webapp-steps/08-rendered-markdown.steps.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

refactor(e2e): consolidate test suites
  .github/workflows/ci.yml
  AGENTS.md
  package.json
  playwright.config.ts
  tests/features/01-launch-and-display.feature
  tests/features/02-file-tree-navigation.feature
  tests/features/03-commenting.feature
  tests/features/04-suggestions.feature
  tests/features/05-view-modes-and-toolbar.feature
  tests/features/06-viewed-status.feature
  tests/features/10-empty-diff-help.feature
  tests/features/13-rendered-markdown.feature
  tests/steps/01-launch-and-display.steps.ts
  tests/steps/02-file-tree-navigation.steps.ts
  tests/steps/03-commenting.steps.ts
  tests/steps/04-suggestions.steps.ts
  tests/steps/05-view-modes-and-toolbar.steps.ts
  tests/steps/06-viewed-status.steps.ts
  tests/steps/10-empty-diff-help.steps.ts
  tests/steps/13-rendered-markdown.steps.ts
  tests/steps/shared.steps.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix(e2e): lazy-resolve webpack bundle path
  tests/steps/app.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

chore: trigger CI
  .github/workflows/ci.yml
Due: prettier --write

fix: strip diff prefix from rendered markdown
  packages/react/src/components/DiffViewer/RenderedMarkdownView.tsx
  src/renderer/components/DiffViewer/RenderedMarkdownView.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

Notes added by 'git notes add'
  acf17b6d4e21d03c756e6b0256b28edfc4de8428
Due: none

chore: update AI Task Manager
  .ai/task-manager/.init-metadata.json
Due: prettier --write

feat: add rendered previews for images and SVGs
  packages/core/src/file-type-utils.test.ts
  packages/core/src/file-type-utils.ts
  packages/core/src/index.ts
  src/main/ipc-handlers.ts
  src/preload/preload.ts
  src/renderer/components/DiffViewer/FileSection.tsx
  src/renderer/components/DiffViewer/RenderedImageView.tsx
  src/renderer/components/DiffViewer/RenderedSvgView.tsx
  src/shared/ipc-channels.ts
  src/shared/types.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

docs: document image/SVG rendered preview support
  AGENTS.md
Due: prettier --write

fix: stop double-stripping markdown line content
  packages/react/src/components/DiffViewer/RenderedMarkdownView.tsx
  src/renderer/components/DiffViewer/RenderedMarkdownView.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: rendered previews webpack and defaults
  packages/core/src/file-type-utils.ts
  src/renderer/components/DiffViewer/FileSection.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: strip diff prefixes from fixture data
  src/renderer/components/DiffViewer/RenderedSvgView.tsx
  tests/webapp/fixture-data.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(release): 1.25.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0cf25bc1cd46941ad7026f4de9dbc49b7cd84975
Due: none

feat: add npm publishing for workspace packages via OIDC trusted publishing
  .github/workflows/release.yml
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

feat: add npm publishing for workspace packages via OIDC trusted publishing (#48)
  .github/workflows/release.yml
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

chore(release): 1.26.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  95023290343eb2bebe3682a8cf9ac32b71ed98ef
Due: none

feat: switch default diff view from split to unified
  src/renderer/context/ConfigContext.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: preserve leading whitespace in suggested change preview
  packages/react/src/components/Comments/SuggestionBlock.tsx
  src/renderer/components/Comments/SuggestionBlock.test.tsx
  src/renderer/components/Comments/SuggestionBlock.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

chore: update package-lock.json
  package-lock.json
Due: prettier --write

Notes added by 'git notes add'
  78e1d03d5d6ef2b5f9d20f18844c2d7037d6314a
Due: none

fix: npm OIDC publishing and version sync
  .github/workflows/release.yml
  .releaserc.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

fix: npm OIDC publishing and version sync (#52)
  .github/workflows/release.yml
  .releaserc.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

Notes added by 'git notes add'
  33a7a6ff9fb0d41eabf60a2701c4d13c1caab0a5
Due: none

fix: restore registry-url for OIDC publishing
  .github/workflows/release.yml
Due: prettier --write

chore: add resolver aliases and overlap matrix
  tsconfig.json
  vitest.config.renderer.ts
  webpack.renderer.config.ts
Due: node scripts/lint-staged-eslint.js, prettier --write
