Repository e0ipso/self-review: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-eslint.js, prettier --write

chore: add vitest unit testing plan and tasks
  .ai/task-manager/plans/04--vitest-unit-testing/plan-04--vitest-unit-testing.md
  .ai/task-manager/plans/04--vitest-unit-testing/tasks/01--setup-vitest-infrastructure.md
  .ai/task-manager/plans/04--vitest-unit-testing/tasks/02--test-diff-parser.md
  .ai/task-manager/plans/04--vitest-unit-testing/tasks/03--test-xml-serialization.md
  .ai/task-manager/plans/04--vitest-unit-testing/tasks/04--test-use-review-state.md
  .ai/task-manager/plans/04--vitest-unit-testing/tasks/05--test-supporting-modules.md
  .ai/task-manager/plans/04--vitest-unit-testing/tasks/06--update-claude-md-documentation.md
Due: prettier --write

feat: set up vitest unit testing infrastructure
  package-lock.json
  package.json
  vitest.config.main.ts
  vitest.config.renderer.ts
  vitest.config.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: add comprehensive unit tests for vitest
  .ai/task-manager/plans/04--vitest-unit-testing/plan-04--vitest-unit-testing.md
  .ai/task-manager/plans/04--vitest-unit-testing/tasks/01--setup-vitest-infrastructure.md
  .ai/task-manager/plans/04--vitest-unit-testing/tasks/02--test-diff-parser.md
  .ai/task-manager/plans/04--vitest-unit-testing/tasks/03--test-xml-serialization.md
  .ai/task-manager/plans/04--vitest-unit-testing/tasks/04--test-use-review-state.md
  .ai/task-manager/plans/04--vitest-unit-testing/tasks/05--test-supporting-modules.md
  .eslintrc.json
  .husky/pre-commit
  eslint.config.mjs
  package-lock.json
  package.json
  src/main/cli.test.ts
  src/main/config.test.ts
  src/main/diff-parser.test.ts
  src/main/git.test.ts
  src/main/xml-parser.test.ts
  src/main/xml-serializer.test.ts
  src/renderer/components/DiffViewer/DiffViewer.tsx
  src/renderer/components/Toolbar.tsx
  src/renderer/context/ReviewContext.tsx
  src/renderer/hooks/useDiffNavigation.test.ts
  src/renderer/hooks/useReviewState.test.ts
  tests/steps/03-commenting.steps.ts
  tests/steps/04-suggestions.steps.ts
  tests/steps/07-xml-output.steps.ts
  tests/steps/10-empty-diff-help.steps.ts
  tests/steps/app.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

docs: add testing section to CLAUDE.md
  .ai/task-manager/plans/04--vitest-unit-testing/plan-04--vitest-unit-testing.md
  .ai/task-manager/plans/04--vitest-unit-testing/tasks/06--update-claude-md-documentation.md
  CLAUDE.md
  package.json
Due: prettier --write

chore: archive completed plan 4 (vitest unit testing)
  .ai/task-manager/archive/04--vitest-unit-testing/plan-04--vitest-unit-testing.md
  .ai/task-manager/archive/04--vitest-unit-testing/tasks/01--setup-vitest-infrastructure.md
  .ai/task-manager/archive/04--vitest-unit-testing/tasks/02--test-diff-parser.md
  .ai/task-manager/archive/04--vitest-unit-testing/tasks/03--test-xml-serialization.md
  .ai/task-manager/archive/04--vitest-unit-testing/tasks/04--test-use-review-state.md
  .ai/task-manager/archive/04--vitest-unit-testing/tasks/05--test-supporting-modules.md
  .ai/task-manager/archive/04--vitest-unit-testing/tasks/06--update-claude-md-documentation.md
Due: prettier --write

chore: untrack .ai/task-manager archive and plans directories
  .ai/task-manager/archive/01--commenting-revamp/plan-01--commenting-revamp.md
  .ai/task-manager/archive/01--commenting-revamp/tasks/01--unify-comment-state.md
  .ai/task-manager/archive/01--commenting-revamp/tasks/02--gutter-icon-hover.md
  .ai/task-manager/archive/01--commenting-revamp/tasks/03--drag-to-select.md
  .ai/task-manager/archive/01--commenting-revamp/tasks/04--line-range-headers.md
  .ai/task-manager/archive/01--commenting-revamp/tasks/05--markdown-rendering.md
  .ai/task-manager/archive/01--commenting-revamp/tasks/06--prd-and-feature-files.md
  .ai/task-manager/archive/02--category-pill-selector/plan-02--category-pill-selector.md
  .ai/task-manager/archive/02--category-pill-selector/tasks/01--populate-default-categories.md
  .ai/task-manager/archive/02--category-pill-selector/tasks/02--redesign-category-selector-pills.md
  .ai/task-manager/archive/02--category-pill-selector/tasks/03--add-tooltip-to-comment-display-badge.md
  .ai/task-manager/archive/03--fix-xmllint-wasm/plan-03--fix-xmllint-wasm.md
  .ai/task-manager/archive/03--fix-xmllint-wasm/tasks/01--install-and-configure-copy-webpack-plugin.md
  .ai/task-manager/archive/03--fix-xmllint-wasm/tasks/02--add-asar-unpack-config.md
  .ai/task-manager/archive/04--vitest-unit-testing/plan-04--vitest-unit-testing.md
  .ai/task-manager/archive/04--vitest-unit-testing/tasks/01--setup-vitest-infrastructure.md
  .ai/task-manager/archive/04--vitest-unit-testing/tasks/02--test-diff-parser.md
  .ai/task-manager/archive/04--vitest-unit-testing/tasks/03--test-xml-serialization.md
  .ai/task-manager/archive/04--vitest-unit-testing/tasks/04--test-use-review-state.md
  .ai/task-manager/archive/04--vitest-unit-testing/tasks/05--test-supporting-modules.md
  .ai/task-manager/archive/04--vitest-unit-testing/tasks/06--update-claude-md-documentation.md
  .gitignore
Due: prettier --write

fix: resolve EADDRINUSE by using dynamic port allocation for dev server
  forge.config.ts
  tsconfig.json
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: add Finish Review button to toolbar
  src/renderer/components/Toolbar.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: resolve __dirname not defined in preload and renderer bundles
  forge.config.ts
  webpack.preload.config.ts
  webpack.renderer.config.ts
  webpack.rules.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

style: fix eslint warnings and update config
  eslint.config.mjs
  src/main/cli.ts
  src/main/diff-parser.ts
  src/main/main.ts
  src/renderer/components/DiffViewer/SyntaxLine.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: resolve e2e test bundle path for arch-specific webpack output
  tests/steps/app.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: remove unused catch bindings in main process
  src/main/main.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

style: replace no-explicit-any warnings with proper types
  src/main/cli.ts
  src/main/config.ts
  src/main/ipc-handlers.ts
  src/main/main.ts
  src/main/xml-parser.ts
  src/main/xml-serializer.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: add wordWrap config option and documentation for line wrap toggle
  README.md
  docs/PRD.md
  src/main/config.test.ts
  src/main/config.ts
  src/renderer/context/ConfigContext.tsx
  src/shared/types.ts
  tests/features/05-view-modes-and-toolbar.feature
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: add word-wrap toolbar toggle and conditional line wrapping in diff views
  src/renderer/components/DiffViewer/SplitView.tsx
  src/renderer/components/DiffViewer/SyntaxLine.tsx
  src/renderer/components/DiffViewer/UnifiedView.tsx
  src/renderer/components/Toolbar.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

style: improve add-comment buttons, reorder toolbar, and move collapse to file tree
  .husky/pre-commit
  CLAUDE.md
  package.json
  src/renderer/components/DiffViewer/SplitView.tsx
  src/renderer/components/DiffViewer/UnifiedView.tsx
  src/renderer/components/FileTree.tsx
  src/renderer/components/Toolbar.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

build: configure package for npm publishing and optimize husky hooks
  .husky/pre-commit
  .husky/pre-push
  .releaserc.json
  package.json
Due: prettier --write

ci: add GitHub Actions CI/CD pipeline with test gating and semantic-release
  .github/workflows/ci.yml
  playwright.config.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

docs: add CI badge and CI/CD documentation to README
  README.md
Due: prettier --write

chore: update description
  package.json
Due: prettier --write

docs: add screenshot
  README.md
Due: prettier --write

docs: add screenshot
  docs/screenshot.png
Due: none

chore: rename AGENTS.md
  AGENTS.md
  CLAUDE.md
Due: prettier --write

fix: add missing BDD step definitions and fix diff parser bugs
  src/main/diff-parser.ts
  src/renderer/components/DiffViewer/DiffViewer.tsx
  tests/steps/05-view-modes-and-toolbar.steps.ts
  tests/steps/07-xml-output.steps.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

ci: remove e2e-test gate from release job
  .github/workflows/ci.yml
Due: prettier --write

ci: configure npm OIDC trusted publishing with provenance
  .github/workflows/ci.yml
  .releaserc.json
  package.json
Due: prettier --write

fix(release): upgrade @semantic-release/npm to v13 for OIDC support
  package-lock.json
  package.json
Due: prettier --write

fix: resolve 29 failing e2e tests across 5 root cause categories
  src/renderer/components/DiffViewer/SplitView.tsx
  src/renderer/components/DiffViewer/UnifiedView.tsx
  src/renderer/components/FileTree.tsx
  tests/features/05-view-modes-and-toolbar.feature
  tests/features/07-xml-output.feature
  tests/features/10-empty-diff-help.feature
  tests/steps/01-launch-and-display.steps.ts
  tests/steps/03-commenting.steps.ts
  tests/steps/08-resume.steps.ts
  tests/steps/10-empty-diff-help.steps.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix(release): remove registry-url from setup-node to fix OIDC auth
  .github/workflows/ci.yml
Due: prettier --write

fix(release): add OIDC diagnostics and publishConfig for npm trusted publishing
  .github/workflows/ci.yml
  package.json
Due: prettier --write

fix(release): add direct OIDC token exchange test to diagnose npm auth
  .github/workflows/ci.yml
Due: prettier --write

fix(release): set explicit registry URL to fix OIDC trailing-slash bug
  .github/workflows/ci.yml
  package.json
Due: prettier --write

feat(tests): fix remaining e2e test failures and source code bugs
  .github/workflows/ci.yml
  src/renderer/components/DiffViewer/SplitView.tsx
  src/renderer/components/DiffViewer/UnifiedView.tsx
  tests/features/01-launch-and-display.feature
  tests/features/03-commenting.feature
  tests/features/07-xml-output.feature
  tests/steps/01-launch-and-display.steps.ts
  tests/steps/03-commenting.steps.ts
  tests/steps/07-xml-output.steps.ts
  tests/steps/08-resume.steps.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: multiple misc fixes
  forge.config.ts
  package.json
  src/main/main.ts
  src/main/xml-serializer.test.ts
  src/main/xml-serializer.ts
  webpack.main.config.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: add outputFile config, IPC channels, and preload bridge for file-based XML output
  src/main/config.test.ts
  src/main/config.ts
  src/preload/preload.ts
  src/shared/ipc-channels.ts
  src/shared/types.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: implement file-based save flow with close confirmation dialog
  package-lock.json
  package.json
  src/main/main.ts
  src/renderer/App.tsx
  src/renderer/components/CloseConfirmDialog.tsx
  src/renderer/components/Toolbar.tsx
  src/renderer/components/ui/alert-dialog.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

docs: update documentation and E2E tests for file-based XML output
  AGENTS.md
  README.md
  docs/PRD.md
  src/main/cli.ts
  src/renderer/context/ConfigContext.tsx
  tests/features/01-launch-and-display.feature
  tests/features/06-viewed-status.feature
  tests/features/07-xml-output.feature
  tests/features/08-resume.feature
  tests/features/09-error-handling.feature
  tests/features/10-empty-diff-help.feature
  tests/steps/03-commenting.steps.ts
  tests/steps/06-viewed-status.steps.ts
  tests/steps/07-xml-output.steps.ts
  tests/steps/08-resume.steps.ts
  tests/steps/app.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

ci: debug OIDC
  .github/workflows/ci.yml
  package.json
Due: prettier --write

refactor(tests): split closeAppWindow into save and discard variants
  tests/features/01-launch-and-display.feature
  tests/steps/01-launch-and-display.steps.ts
  tests/steps/03-commenting.steps.ts
  tests/steps/app.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

Path conditions:
  node scripts/lint-staged-eslint.js: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})
