Repository e0ipso/self-review: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-eslint.js, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["node scripts/lint-staged-eslint.js", "prettier --write"],
  "*.{js,jsx}": ["node scripts/lint-staged-eslint.js", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

feat: host-driven save and static config injection
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/react/src/adapter.ts
  src/main/ipc-handlers.ts
  src/renderer/App.tsx
  src/renderer/components/CloseConfirmDialog.tsx
  src/renderer/components/FindBar.tsx
  src/renderer/components/UpdateBanner.tsx
  src/renderer/components/WelcomeScreen.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: add image/SVG preview parity to FileSection
  packages/react/src/components/DiffViewer/FileSection.tsx
  packages/react/src/components/DiffViewer/RenderedImageView.tsx
  packages/react/src/components/DiffViewer/RenderedSvgView.tsx
  packages/react/vitest.config.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

chore: remove unnecessary flag
  .github/workflows/release.yml
Due: prettier --write

fix: browser-safe core entry point
  packages/core/src/browser.ts
  tests/webapp/vite.config.ts
  webpack.renderer.config.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: register review:request handler
  src/renderer/App.tsx
  tests/steps/11-welcome-screen.steps.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

Notes added by 'git notes add'
  d3f4945042322a9833f6cd854a748b78b66afe83
Due: none

chore(release): 1.27.1 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

Notes added by 'git notes add'
  a80d7c7f9704e59f4a3144a7b21dd920da1e27c0
Due: none

chore(release): 1.27.2 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

Notes added by 'git notes add'
  5e88920fb7f5ba4e2d4fd07a103d35b273d50e81
Due: none

Notes added by 'git notes add'
  db884a89db07c285f76e93685ddc7b372250e6ad
Due: none

Notes added by 'git notes add'
  1c5553baacf3263cdb807b3e9ac7f83761f5d527
Due: none

chore(release): 1.27.5 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

Notes added by 'git notes add'
  579ed95473214266375c08f192ed1d9ab4db69ef
Due: none

fix: upgrade npm to v11 for OIDC trusted publisher
  .github/workflows/release.yml
Due: prettier --write

chore(release): 1.27.6 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

Notes added by 'git notes add'
  851852978be4b47891b40b47751c28d07a83f9ac
Due: none

fix: use Node 24 for built-in npm v11
  .github/workflows/release.yml
Due: prettier --write

Notes added by 'git notes add'
  666a6a73d07fa637cdd26bd0221bb65bbde8ee49
Due: none

chore: bump devcontainer to Node 24
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: prettier --write

refactor(react): lazy-load Prism.js in SyntaxLine
  packages/react/src/components/DiffViewer/SyntaxLine.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

test(react): add SyntaxLine no-mock test
  packages/react/src/components/DiffViewer/SyntaxLine.test.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

build(react): enable tree-shaking
  packages/react/package.json
  packages/react/tsup.config.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: misc changes
  package-lock.json
  packages/react/src/declarations.d.ts
  tests/webapp-steps/01-launch-and-display.steps.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

Notes added by 'git notes add'
  3063fddc8c1e8668728db1174a5d29a41f9137f0
Due: none

refactor(react): move file-type-utils to react
  AGENTS.md
  packages/core/src/browser.ts
  packages/core/src/index.ts
  packages/react/src/components/DiffViewer/FileSection.tsx
  packages/react/src/file-type-utils.test.ts
  packages/react/src/file-type-utils.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix(react): move file-type-utils to react (#55)
  AGENTS.md
  packages/core/src/browser.ts
  packages/core/src/index.ts
  packages/react/src/components/DiffViewer/FileSection.tsx
  packages/react/src/file-type-utils.test.ts
  packages/react/src/file-type-utils.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

Notes added by 'git notes add'
  d63630fe9cc035182c31b3c6783f0707553d7851
Due: none

refactor: extract components and hooks (phase 1)
  packages/core/src/file-type-utils.ts
  packages/core/src/index.ts
  packages/react/src/components/Comments/AttachmentDropZone.tsx
  packages/react/src/components/Comments/AttachmentImage.tsx
  packages/react/src/components/Comments/CommentDisplay.tsx
  packages/react/src/components/Comments/CommentInput.tsx
  packages/react/src/components/Comments/SuggestionPanel.tsx
  packages/react/src/components/DiffViewer/DiffViewer.tsx
  packages/react/src/components/DiffViewer/EmptyDiffMessage.tsx
  packages/react/src/components/DiffViewer/FileSection.tsx
  packages/react/src/components/DiffViewer/InlineCommentSlot.tsx
  packages/react/src/components/DiffViewer/SplitView.tsx
  packages/react/src/components/DiffViewer/SyntaxLine.tsx
  packages/react/src/components/DiffViewer/UnifiedView.tsx
  packages/react/src/components/DiffViewer/useDragSelection.ts
  packages/react/src/components/DiffViewer/useExpandContext.ts
  packages/react/src/components/FileTree.tsx
  packages/react/src/components/FileTreeEntry.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

refactor: decompose FileSection (phase 2)
  packages/react/src/components/DiffViewer/DiffContentArea.tsx
  packages/react/src/components/DiffViewer/FileSection.tsx
  packages/react/src/components/DiffViewer/FileSectionBody.tsx
  packages/react/src/components/DiffViewer/FileSectionHeader.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

test: add tests for extracted hooks and components
  packages/react/src/components/DiffViewer/InlineCommentSlot.test.tsx
  packages/react/src/components/DiffViewer/useDragSelection.test.ts
  packages/react/src/components/DiffViewer/useExpandContext.test.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

docs: update AGENTS.md for refactor
  AGENTS.md
Due: prettier --write

fix: decouple react pkg from core imports
  .github/workflows/release.yml
  .releaserc.json
  packages/core/AGENTS.md
  packages/react/AGENTS.md
  packages/react/src/components/DiffViewer/FileSection.tsx
  packages/react/src/components/DiffViewer/SplitView.tsx
  packages/react/src/components/DiffViewer/SyntaxLine.tsx
  packages/react/src/components/DiffViewer/UnifiedView.tsx
  packages/react/src/utils/file-type-utils.ts
  packages/types/AGENTS.md
  packages/types/package.json
Due: node scripts/lint-staged-eslint.js, prettier --write

chore: update types version to match the rest
  packages/types/package.json
Due: prettier --write

chore(release): 1.28.2 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/types/package.json
Due: prettier --write

Notes added by 'git notes add'
  d7d919f2ac17c7a36311fe0d5168b475fb0b3263
Due: none
