Repository e0ipso/self-review: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-eslint.js, prettier --write

fix: use useLayoutEffect for ref sync
  src/renderer/context/ReviewContext.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

test: improve e2e fixtures and steps
  tests/features/01-launch-and-display.feature
  tests/features/02-file-tree-navigation.feature
  tests/features/05-view-modes-and-toolbar.feature
  tests/features/07-xml-output.feature
  tests/features/10-empty-diff-help.feature
  tests/features/13-rendered-markdown.feature
  tests/steps/08-resume.steps.ts
  tests/steps/13-rendered-markdown.steps.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: useLayoutEffect ref sync and e2e test improvements (#13)
  src/renderer/context/ReviewContext.tsx
  tests/features/01-launch-and-display.feature
  tests/features/02-file-tree-navigation.feature
  tests/features/05-view-modes-and-toolbar.feature
  tests/features/07-xml-output.feature
  tests/features/10-empty-diff-help.feature
  tests/features/13-rendered-markdown.feature
  tests/steps/08-resume.steps.ts
  tests/steps/13-rendered-markdown.steps.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(release): 1.11.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  bdf9b209f1e876c5da8ebee7988e0b330eb6f476
Due: none

refactor: extract shared utilities
  src/main/git-diff-loader.ts
  src/main/ipc-handlers.ts
  src/main/main.ts
  src/renderer/components/Comments/AttachmentThumbnail.tsx
  src/renderer/components/Comments/CommentInput.tsx
  src/renderer/components/DiffViewer/FileSection.tsx
  src/renderer/components/DiffViewer/SplitView.tsx
  src/renderer/components/DiffViewer/UnifiedView.tsx
  src/renderer/components/FileTree.tsx
  src/renderer/utils/diff-styles.ts
  src/renderer/utils/image-utils.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

refactor: extract MermaidBlock and EmptyLinePane
  src/renderer/components/DiffViewer/EmptyLinePane.tsx
  src/renderer/components/DiffViewer/MermaidBlock.tsx
  src/renderer/components/DiffViewer/RenderedMarkdownView.tsx
  src/renderer/components/DiffViewer/SplitView.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: replace any with proper types
  src/renderer/components/DiffViewer/RenderedMarkdownView.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: wait for Electron exit in e2e cleanup
  tests/steps/app.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

refactor: extract shared utilities (#14)
  src/main/git-diff-loader.ts
  src/main/ipc-handlers.ts
  src/main/main.ts
  src/renderer/components/Comments/AttachmentThumbnail.tsx
  src/renderer/components/Comments/CommentInput.tsx
  src/renderer/components/DiffViewer/EmptyLinePane.tsx
  src/renderer/components/DiffViewer/FileSection.tsx
  src/renderer/components/DiffViewer/MermaidBlock.tsx
  src/renderer/components/DiffViewer/RenderedMarkdownView.tsx
  src/renderer/components/DiffViewer/SplitView.tsx
  src/renderer/components/DiffViewer/UnifiedView.tsx
  src/renderer/components/FileTree.tsx
  src/renderer/utils/diff-styles.ts
  src/renderer/utils/image-utils.ts
  tests/steps/app.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: add summary to self-review skill
  .claude/skills/self-review-apply/SKILL.md
Due: prettier --write

feat: add summary to self-review skill (#15)
  .claude/skills/self-review-apply/SKILL.md
Due: prettier --write

chore(release): 1.12.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ccdec3c0f8ceb92c93a7501bdbf6e2bbf924d2f0
Due: none

fix: filter path args in expand context command
  src/main/ipc-handlers.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

refactor: normalize gitDiffArgs at storage time
  src/main/cli.test.ts
  src/main/cli.ts
  src/main/ipc-handlers.ts
  src/main/main.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: return cleanup from onCloseRequested effect
  src/renderer/components/CloseConfirmDialog.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: git diff arg parsing and test data
  src/main/main.ts
  tests/features/01-launch-and-display.feature
  tests/features/02-file-tree-navigation.feature
  tests/features/05-view-modes-and-toolbar.feature
  tests/features/07-xml-output.feature
  tests/features/10-empty-diff-help.feature
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: add find-in-page search with Ctrl+F
  docs/PRD.md
  src/renderer/components/FileTree.tsx
  src/renderer/components/FindBar.tsx
  tests/features/14-find-in-page.feature
  tests/steps/14-find-in-page.steps.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: skip close confirmation when no comments
  src/renderer/components/CloseConfirmDialog.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

docs: document close skip and loading state
  docs/PRD.md
Due: prettier --write

refactor: move Ctrl+F to App, improve FindBar
  src/renderer/App.tsx
  src/renderer/components/FindBar.tsx
  src/renderer/components/KeyboardNavigationManager.tsx
  src/renderer/hooks/useKeyboardNavigation.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

Notes added by 'git notes add'
  41905d314f065e0b25c216524e7bc672e740de46
Due: none

test: verify state preservation on merge
  src/renderer/hooks/useReviewState.test.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

Notes added by 'git notes add'
  7285e4c1297996dd059456a47d6673da15348fa1
Due: none

fix: improve self-review-apply skill
  .claude/skills/self-review-apply/SKILL.md
Due: prettier --write

Notes added by 'git notes add'
  7044952e53a3b301154e7acbbb3000d6b8ef56d7
Due: none

fix(resume): remove mode guard and IPC literal
  src/main/ipc-handlers.ts
  src/main/main.ts
  src/preload/preload.ts
  src/shared/ipc-channels.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat(resume): add context-aware line matching
  src/main/main.ts
  src/main/resume-matcher.test.ts
  src/main/resume-matcher.ts
  src/renderer/context/ReviewContext.tsx
  src/shared/path-utils.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: wrong cwd when selecting a directory
  src/main/git-diff-loader.ts
  src/main/git.ts
  src/main/ipc-handlers.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: triggering git mode when loading a directory
  src/main/ipc-handlers.ts
  src/renderer/components/WelcomeScreen.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

Notes added by 'git notes add'
  2481303015830b11e5f14d5af4e30cee869717f6
Due: none

Revert "feat(resume): add context-aware line matching"
  src/main/main.ts
  src/main/resume-matcher.test.ts
  src/main/resume-matcher.ts
  src/renderer/context/ReviewContext.tsx
  src/shared/path-utils.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix(resume): enable --resume-from in non-git mode (#23)
  src/main/ipc-handlers.ts
  src/main/main.ts
  src/preload/preload.ts
  src/shared/ipc-channels.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(release): 1.13.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2393e367a6e9858a6dd1448a699260c0abc6574f
Due: none

feat(config): add default 'task' category (#20)
  src/main/config.test.ts
  src/main/config.ts
  src/renderer/context/ConfigContext.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

feat(config): add default 'task' category (#20) (#24)
  src/main/config.test.ts
  src/main/config.ts
  src/renderer/context/ConfigContext.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(release): 1.14.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e4ee0a98ce0467153cc61a1f2b6f95012f54f65e
Due: none

Path conditions:
  node scripts/lint-staged-eslint.js: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})
