Repository e0ipso/self-review: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-eslint.js, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["node scripts/lint-staged-eslint.js", "prettier --write"],
  "*.{js,jsx}": ["node scripts/lint-staged-eslint.js", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

feat(react): add adapter prop to SingleFileReview and move view toggle (#94)
  docs/PRD.md
  packages/react/src/components/FileTree.test.tsx
  packages/react/src/components/FileTree.tsx
  packages/react/src/components/Toolbar.tsx
  tests/webapp-features/05-view-modes-and-toolbar.feature
  tests/webapp-steps/05-view-modes-and-toolbar.steps.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

Notes added by 'git notes add'
  6af2a56d27922cdd2ae0fb8044f94fa73564182d
Due: none

chore(release): 1.35.0 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/types/package.json
Due: prettier --write

feat(react): add rendered text eligibility
  package-lock.json
  package.json
  packages/core/src/file-type-utils.ts
  packages/core/src/index.ts
  packages/react/package.json
  packages/react/src/components/DiffViewer/DiffContentArea.tsx
  packages/react/src/components/DiffViewer/FileSection.test.tsx
  packages/react/src/components/DiffViewer/FileSection.tsx
  packages/react/src/components/DiffViewer/RenderedMarkdownView.tsx
  packages/react/src/file-type-utils.test.ts
  packages/react/src/utils/file-type-utils.ts
  vitest.config.main.ts
  vitest.config.renderer.ts
  vitest.config.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat(react): render html through text preview
  packages/react/src/components/DiffViewer/DiffContentArea.tsx
  packages/react/src/components/DiffViewer/RenderedMarkdownView.test.tsx
  packages/react/src/components/DiffViewer/RenderedMarkdownView.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

test(react): cover rendered html review
  AGENTS.md
  docs/PRD.md
  packages/react/src/components/DiffViewer/DiffContentArea.test.tsx
  packages/react/src/components/DiffViewer/FileSection.test.tsx
  packages/react/src/components/DiffViewer/FileSection.tsx
  tests/webapp-features/09-rendered-html.feature
  tests/webapp-steps/08-rendered-markdown.steps.ts
  tests/webapp/fixture-data.ts
  tests/webapp/main.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

test(e2e): launch vite from local binary
  tests/webapp-steps/app.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

Notes added by 'git notes add'
  1ee353cf2dbb579866b7b9e0619952671388b622
Due: none

chore: update devcontainer for CLI compatibility
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: prettier --write

chore: set up the repo for opencode
  .ai/task-manager/.init-metadata.json
  .gitignore
  .opencode/skills/self-review-apply/SKILL.md
  .opencode/skills/self-review-apply/assets/self-review-v1.xsd
  .opencode/skills/self-review-critique/SKILL.md
Due: prettier --write

feat: create generic .agents/skills directory
  .agents/skills/self-review-apply/SKILL.md
  .agents/skills/self-review-apply/assets/self-review-v1.xsd
  .agents/skills/self-review-critique/SKILL.md
Due: prettier --write

docs: migrate skill references to generic .agents/skills directory
  .agents/skills/self-review-critique/SKILL.md
  .claude/skills/self-review-apply/SKILL.md
  .claude/skills/self-review-apply/assets/self-review-v1.xsd
  .claude/skills/self-review-critique/SKILL.md
  .gitignore
  .opencode/skills/self-review-apply/SKILL.md
  .opencode/skills/self-review-apply/assets/self-review-v1.xsd
  .opencode/skills/self-review-critique/SKILL.md
  AGENTS.md
  README.md
Due: prettier --write

docs: fix remaining stale .claude/skills references
  .ai/task-manager/config/templates/PLAN_TEMPLATE.md
  tests/features/07-xml-output.feature
Due: prettier --write

docs: make assistant skill section vendor-neutral
  README.md
Due: prettier --write

docs: replace em dashes with commas in documentation
  .agents/skills/self-review-apply/SKILL.md
  .agents/skills/self-review-critique/SKILL.md
  .ai/task-manager/config/templates/PLAN_TEMPLATE.md
  AGENTS.md
  README.md
  docs/PRD.md
  packages/react/AGENTS.md
  packages/types/AGENTS.md
Due: prettier --write

docs: consolidate AI assistant skills into .agents/skills/ (#98)
  .agents/skills/self-review-apply/SKILL.md
  .agents/skills/self-review-apply/assets/self-review-v1.xsd
  .agents/skills/self-review-critique/SKILL.md
  .ai/task-manager/.init-metadata.json
  .ai/task-manager/config/templates/PLAN_TEMPLATE.md
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitignore
  AGENTS.md
  README.md
  docs/PRD.md
  packages/react/AGENTS.md
  packages/types/AGENTS.md
  tests/features/07-xml-output.feature
Due: prettier --write

chore: set up the repo for opencode
  .gitignore
  .opencode/skills/self-review-apply/SKILL.md
  .opencode/skills/self-review-apply/assets/self-review-v1.xsd
  .opencode/skills/self-review-critique/SKILL.md
Due: prettier --write

chore: initialize KB for cursor
  .cursor/hooks.json
  .cursor/hooks/kb-capture.cjs
  .cursor/hooks/kb-lint-tick.cjs
  .cursor/hooks/kb-proposal-drain.cjs
  .cursor/hooks/kb-session-start.cjs
  .cursor/skills/kb-add/SKILL.md
  .cursor/skills/kb-bootstrap/SKILL.md
  .cursor/skills/kb-curate/SKILL.md
  .gitignore
  eslint.config.mjs
Due: prettier --write

chore(release): 1.36.1 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/types/package.json
Due: prettier --write

Notes added by 'git notes add'
  934aabab944f6fe8b07c247f94623615cbfc5465
Due: none

docs: migrate to kenkeep
  AGENTS.md
  eslint.config.mjs
Due: prettier --write

chore: remove leftover file
  improve.png
Due: none

docs: migrate to kenkeep
  .agents/skills/kk-add/SKILL.md
  .agents/skills/kk-bootstrap/SKILL.md
  .agents/skills/kk-curate/SKILL.md
  .codex/hooks.json
  .codex/hooks/kk-capture.cjs
  .codex/hooks/kk-lint-tick.cjs
  .codex/hooks/kk-proposal-drain.cjs
  .codex/hooks/kk-session-start.cjs
  .cursor/hooks.json
  .cursor/hooks/kk-capture.cjs
  .cursor/hooks/kk-lint-tick.cjs
  .cursor/hooks/kk-proposal-drain.cjs
  .cursor/hooks/kk-session-start.cjs
  .cursor/skills/kk-add/SKILL.md
  .cursor/skills/kk-bootstrap/SKILL.md
  .cursor/skills/kk-curate/SKILL.md
  .kkignore
Due: prettier --write

fix: misc changes
  .cursor/hooks/kb-proposal-drain.cjs
  .gitignore
Due: none

Notes added by 'git notes add'
  9f4cbb4d2268c10e57d5663bae47cceb92451469
Due: none

docs: add Cursor Cloud setup instructions to AGENTS.md
  AGENTS.md
Due: prettier --write

docs: move Cursor Cloud instructions to .cursor/cloud-instructions.md
  .cursor/cloud-instructions.md
  AGENTS.md
Due: prettier --write

docs: add Cursor Cloud setup instructions to AGENTS.md (#100)
  .cursor/cloud-instructions.md
  AGENTS.md
Due: prettier --write

feat: add Nix flake for NixOS packaging
  .github/workflows/update-flake-hash.yml
  flake.nix
Due: prettier --write

fix: correct license metadata (unfree pending upstream clarification)
  flake.nix
Due: none

feat: add Linux zip to release artifacts (#102)
  .github/workflows/release.yml
  forge.config.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

chore: delete LICENSE
  LICENSE
Due: none

chore(release): 1.37.0 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/types/package.json
Due: prettier --write

Notes added by 'git notes add'
  e81332f08fda692718892151d23ee11e6534ef0b
Due: none

ci: trigger flake hash update after release
  .github/workflows/release.yml
  .github/workflows/update-flake-hash.yml
Due: prettier --write

ci: use release zip asset name
  .github/workflows/release.yml
  .github/workflows/update-flake-hash.yml
  flake.nix
Due: prettier --write

ci: add a nix binary option for Linux (#103)
  .github/workflows/release.yml
  .github/workflows/update-flake-hash.yml
  flake.nix
Due: prettier --write

chore(release): 1.37.1 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/types/package.json
Due: prettier --write
