Repository e0ipso/self-review: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-eslint.js, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["node scripts/lint-staged-eslint.js", "prettier --write"],
  "*.{js,jsx}": ["node scripts/lint-staged-eslint.js", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore(release): 1.18.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5250ad43d69233fbbded858e27fe743f07f56610
Due: none

feat: add review progress bar to toolbar
  src/renderer/components/ReviewProgress.tsx
  src/renderer/components/Toolbar.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: add review progress bar to toolbar (#36)
  src/renderer/components/ReviewProgress.tsx
  src/renderer/components/Toolbar.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

Notes added by 'git notes add'
  5ae9c03591dc1022de9383b1500bb1fd4737e818
Due: none

chore(release): 1.19.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

fix: improve diff accessibility for comment boxes and hunk separators
  src/renderer/components/Comments/CommentDisplay.tsx
  src/renderer/components/Comments/CommentInput.tsx
  src/renderer/components/DiffViewer/HunkHeader.tsx
  src/renderer/components/DiffViewer/RenderedMarkdownView.tsx
  src/renderer/components/DiffViewer/SplitView.tsx
  src/renderer/components/DiffViewer/UnifiedView.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: use shadcn semantic tokens for comment box contrast
  src/renderer/components/Comments/CommentDisplay.tsx
  src/renderer/components/Comments/CommentInput.tsx
  src/renderer/components/DiffViewer/RenderedMarkdownView.tsx
  src/renderer/components/DiffViewer/SplitView.tsx
  src/renderer/components/DiffViewer/UnifiedView.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

Notes added by 'git notes add'
  ce5e03b8cf84197f534d8012dfe4cc0647afa846
Due: none

fix: make comment action buttons always visible
  src/renderer/components/Comments/CommentDisplay.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: make comment delete icon always visible
  src/renderer/components/Comments/CommentDisplay.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: make comment delete icon always visible (#38)
  src/renderer/components/Comments/CommentDisplay.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(release): 1.19.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  46e3cc178d03347fa29446db7e90664419c1ff63
Due: none

feat: add vimium hints to delete/finish
  src/renderer/components/Comments/CommentDisplay.tsx
  src/renderer/components/Toolbar.tsx
  src/renderer/hooks/useKeyboardNavigation.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(release): 1.20.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7519bad8a1577f7197bbc9a5b843bfdb6844d2e0
Due: none

feat: add self-review-critique skill
  .claude/skills/self-review-critique/SKILL.md
Due: prettier --write

docs: document self-review-critique skill
  AGENTS.md
Due: prettier --write

refactor: deduplicate XML rules in critique skill
  .claude/skills/self-review-critique/SKILL.md
  src/renderer/components/DiffViewer/RenderedMarkdownView.tsx
  src/renderer/components/FileTree.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

refactor: improve rendered markdown block layout
  src/renderer/components/DiffViewer/RenderedMarkdownView.tsx
  src/renderer/components/ReviewProgress.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: add self-review-critique skill (#40)
  .claude/skills/self-review-critique/SKILL.md
  AGENTS.md
  src/renderer/components/DiffViewer/RenderedMarkdownView.tsx
  src/renderer/components/FileTree.tsx
  src/renderer/components/ReviewProgress.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(release): 1.21.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  94b7407105e78c31ccfa0c7d58831a77a5f31ab8
Due: none

feat: add ignore filter utility
  package-lock.json
  package.json
  src/main/config.ts
  src/main/ignore-filter.test.ts
  src/main/ignore-filter.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: apply ignore filtering in all modes
  README.md
  docs/PRD.md
  src/main/directory-scanner.test.ts
  src/main/directory-scanner.ts
  src/main/ipc-handlers.ts
  src/main/main.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: activate ignore config with gitignore filtering (#41)
  README.md
  docs/PRD.md
  package-lock.json
  package.json
  src/main/config.ts
  src/main/directory-scanner.test.ts
  src/main/directory-scanner.ts
  src/main/ignore-filter.test.ts
  src/main/ignore-filter.ts
  src/main/ipc-handlers.ts
  src/main/main.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

Notes added by 'git notes add'
  5466c7cd0cc69f312693d4e67e4fed9c28a2ac66
Due: none

feat: add large payload guard foundation
  src/main/config.ts
  src/preload/preload.ts
  src/renderer/context/ConfigContext.tsx
  src/shared/ipc-channels.ts
  src/shared/types.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: add payload guard and collapse default
  src/main/ipc-handlers.ts
  src/main/main.ts
  src/main/payload-sizing.test.ts
  src/main/payload-sizing.ts
  src/renderer/components/DiffViewer/DiffViewer.test.tsx
  src/renderer/components/DiffViewer/DiffViewer.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: add lazy content loading for large mode
  src/main/ipc-handlers.test.ts
  src/main/ipc-handlers.ts
  src/renderer/components/DiffViewer/FileSection.tsx
  src/renderer/context/ReviewContext.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

docs: add large payload guard documentation
  AGENTS.md
  README.md
  docs/PRD.md
Due: prettier --write

feat: add large payload guard for memory-safe diff loading (#43)
  AGENTS.md
  README.md
  docs/PRD.md
  src/main/config.ts
  src/main/ipc-handlers.test.ts
  src/main/ipc-handlers.ts
  src/main/main.ts
  src/main/payload-sizing.test.ts
  src/main/payload-sizing.ts
  src/preload/preload.ts
  src/renderer/components/DiffViewer/DiffViewer.test.tsx
  src/renderer/components/DiffViewer/DiffViewer.tsx
  src/renderer/components/DiffViewer/FileSection.tsx
  src/renderer/context/ConfigContext.tsx
  src/renderer/context/ReviewContext.tsx
  src/shared/ipc-channels.ts
  src/shared/types.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

Notes added by 'git notes add'
  7e64f889beba1c0c8df872fb2dcf1e01d4f1314e
Due: none

feat: add screenshot test fixtures
  tests/screenshots/screenshot-fixtures.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: add screenshot generation spec
  package.json
  playwright.config.ts
  tests/screenshots/use-case-screenshots.spec.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

docs: add use cases section to README
  README.md
Due: prettier --write

fix: add unstaged changes to api-guide.md
  tests/screenshots/screenshot-fixtures.ts
  tests/screenshots/use-case-screenshots.spec.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

docs: add screenshots
  docs/screenshots/uc1-inline-comment.png
  docs/screenshots/uc1-plan-diff.png
  docs/screenshots/uc1-rendered.png
  docs/screenshots/uc2-comment.png
  docs/screenshots/uc2-split-diff.png
  docs/screenshots/uc2-suggestion.png
  docs/screenshots/uc3-categories.png
  docs/screenshots/uc3-categorized.png
  docs/screenshots/uc3-file-tree.png
  docs/screenshots/uc4-ai-comments.png
  docs/screenshots/uc4-mixed-comments.png
Due: none

docs: add numeration
  README.md
Due: prettier --write
