Repository e0ipso/self-review: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-eslint.js, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["node scripts/lint-staged-eslint.js", "prettier --write"],
  "*.{js,jsx}": ["node scripts/lint-staged-eslint.js", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

ci: replace npm publish with GitHub Release asset pipeline
  .github/workflows/release-darwin.yml
  .github/workflows/release.yml
  .releaserc.json
  package-lock.json
  package.json
Due: prettier --write

feat: add apply-review Claude Code skill for processing review XML feedback
  .claude/skills/self-review/apply-review/SKILL.md
  .claude/skills/self-review/apply-review/self-review-v1.xsd
  .gitignore
  AGENTS.md
  README.md
Due: prettier --write

fix: resolve multi-line drag selection and resumed comment editing
  src/main/main.ts
  src/renderer/components/Comments/CommentInput.tsx
  src/renderer/components/DiffViewer/FileSection.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

Notes added by 'git notes add'
  ab40ed6c2853150deda1275bae0ec8e2b1f59e0f
Due: none

ci: fix release issues
  .github/workflows/release-darwin.yml
  .github/workflows/release.yml
Due: prettier --write

ci: fix release issues
  .github/workflows/release.yml
Due: prettier --write

ci: fix release issues (III)
  tests/steps/app.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: add parallel task execution instructions to apply-review skill
  .claude/skills/self-review/apply-review/SKILL.md
Due: prettier --write

ci: fix release issues (IV)
  tests/features/08-resume.feature
  tests/steps/08-resume.steps.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: make SKILL compliant
  .claude/skills/self-review/apply-review/SKILL.md
  .claude/skills/self-review/apply-review/assets/self-review-v1.xsd
  .claude/skills/self-review/apply-review/self-review-v1.xsd
  AGENTS.md
Due: prettier --write

ci: fix release issues (V)
  AGENTS.md
  playwright.config.ts
  tests/features/07-xml-output.feature
Due: node scripts/lint-staged-eslint.js, prettier --write

ci: trigger macOS release
  .github/workflows/release-darwin.yml
  .github/workflows/release.yml
Due: prettier --write

Notes added by 'git notes add'
  a74ce913984aa97886e095d0098219d431539cd1
Due: none

ci: fix linux release
  forge.config.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: show Suggest button when editing comments without existing suggestion
  src/renderer/components/Comments/CommentDisplay.tsx
  src/renderer/components/DiffViewer/SplitView.tsx
  src/renderer/components/DiffViewer/UnifiedView.tsx
  src/renderer/components/DiffViewer/diff-utils.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

test: add Playwright demo recording for features 1–4
  docs/demo-recording.webm
  package.json
  playwright.config.ts
  tests/recording/demo-recording.spec.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

docs: add video
  README.md
Due: prettier --write

docs: improve README
  README.md
Due: prettier --write

docs: add installation instructions and fix CI for project config
  .github/workflows/ci.yml
  README.md
Due: prettier --write

chore: add app icons and improve package metadata
  assets/icon.icns
  assets/icon.png
  forge.config.ts
  package.json
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: resolve flaky e2e tests in CI
  tests/steps/01-launch-and-display.steps.ts
  tests/steps/app.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: eliminate flaky e2e tests by replacing hard-coded waits with explicit conditions
  .github/workflows/ci.yml
  playwright.config.ts
  tests/steps/01-launch-and-display.steps.ts
  tests/steps/02-file-tree-navigation.steps.ts
  tests/steps/03-commenting.steps.ts
  tests/steps/05-view-modes-and-toolbar.steps.ts
  tests/steps/07-xml-output.steps.ts
  tests/steps/08-resume.steps.ts
  tests/steps/app.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: resolve two e2e test failures from overly aggressive launch waits
  tests/steps/01-launch-and-display.steps.ts
  tests/steps/app.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

Notes added by 'git notes add'
  226581174259300d11bc81a957f667d3a625ab4c
Due: none

fix: set explicit bin name for Linux package makers
  forge.config.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

Notes added by 'git notes add'
  7d448cdfd85555d0f95fed46844360f49582716c
Due: none

ci: fix macOS release asset upload glob
  .github/workflows/release-darwin.yml
Due: prettier --write

fix: set explicit package name for Linux package makers
  forge.config.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

Notes added by 'git notes add'
  909a87a82ec6403630da6cb96f83cfd823dd1504
Due: none

chore: restructure skill directory and improve README
  .claude/skills/self-review-apply/SKILL.md
  .claude/skills/self-review-apply/assets/self-review-v1.xsd
  README.md
Due: prettier --write

chore: add a LICENSE
  .gitignore
  LICENSE
Due: none

docs: fix the macOS instructions
  README.md
Due: prettier --write

docs: add macOS Gatekeeper workaround to installation instructions
  README.md
Due: prettier --write

fix: skip executableName on macOS to resolve helper app discovery
  README.md
  forge.config.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

ci: remove flaky e2e test job from CI pipeline
  .github/workflows/ci.yml
Due: prettier --write

Notes added by 'git notes add'
  935da719f97d7cea368052fc355836edf4893e32
Due: none

Notes added by 'git notes add'
  97bcd71027dd3a0586a2c8e2125fb1172ff58e40
Due: none

fix: redesign logo for small-size legibility and theme compatibility
  README.md
  assets/icon.icns
  assets/icon.png
  assets/icon.svg
  logo-square.svg
  logo.svg
Due: prettier --write

Notes added by 'git notes add'
  0cc39b9be954867f48fafca99dd0c132d6468266
Due: none
