Repository e0ipso/self-review: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-eslint.js, prettier --write

fix: prevent shell injection in git calls (#145) (#146)
  packages/core/src/git.process.test.ts
  packages/core/src/git.test.ts
  packages/core/src/git.ts
  src/main/startup-mode.test.ts
  src/main/startup-mode.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(release): 1.43.4 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/types/package.json
Due: prettier --write

Notes added by 'git notes add'
  29f9ac213e3586f6f2276f46077965ed50fdcc31
Due: none

refactor: move the review engine into core
  .ai/strikethroo/archive/61--shared-engine-workspace-package/plan-61--shared-engine-workspace-package.md
  .ai/strikethroo/archive/61--shared-engine-workspace-package/tasks/01--record-pre-change-validation-baselines.md
  .ai/strikethroo/archive/61--shared-engine-workspace-package/tasks/02--create-private-engine-workspace-package.md
  .ai/strikethroo/archive/61--shared-engine-workspace-package/tasks/03--move-engine-modules-and-repoint-imports.md
  .ai/strikethroo/archive/61--shared-engine-workspace-package/tasks/04--extract-normalize-git-diff-args-from-cli.md
  .ai/strikethroo/archive/61--shared-engine-workspace-package/tasks/05--move-fetch-comments-as-its-own-commit.md
  .ai/strikethroo/archive/61--shared-engine-workspace-package/tasks/06--verify-package-boundary-and-run-validation.md
  .ai/strikethroo/archive/61--shared-engine-workspace-package/tasks/07--document-the-engine-package.md
  AGENTS.md
  package.json
  packages/core/package.json
  packages/core/src/fetch-comments.test.ts
  packages/core/src/fetch-comments.ts
  packages/core/src/git-diff-args.test.ts
  packages/core/src/git-diff-args.ts
  packages/core/src/git-diff-loader.ts
  packages/core/src/guide-loader.test.ts
  packages/core/src/guide-loader.ts
  packages/core/src/index.ts
  packages/core/src/remote-mode.test.ts
  packages/core/src/remote-mode.ts
  packages/core/src/review-handlers.test.ts
  packages/core/src/review-handlers.ts
  packages/core/src/staged-untracked.test.ts
  packages/core/src/staged-untracked.ts
  packages/core/src/startup-mode.test.ts
  packages/core/src/startup-mode.ts
  src/main/cli.test.ts
  src/main/cli.ts
  src/main/diff-parser.ts
  src/main/git.ts
  src/main/ipc-handlers.test.ts
  src/main/ipc-handlers.ts
  src/main/main.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: CVE-2026-33937 security vulnerability
  package-lock.json
  package.json
Due: prettier --write

fix: preserve diff structure and Git arguments
  packages/core/src/diff-parser.test.ts
  packages/core/src/diff-parser.ts
  packages/core/src/git-diff-args.ts
  packages/core/src/startup-mode.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: keep reviewed previews passive and bounded
  forge.config.ts
  packages/core/src/review-handlers.ts
  packages/react/src/components/Comments/CommentDisplay.tsx
  packages/react/src/components/Comments/ReplyDisplay.tsx
  packages/react/src/components/DiffViewer/GuideOverviewContent.tsx
  packages/react/src/components/DiffViewer/RenderedMarkdownView.tsx
  packages/react/src/utils/passive-content.ts
  src/index.html
  src/main/main.ts
  src/main/renderer-content-policy.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: preserve comments when resuming reviews
  docs/PRD.md
  packages/react/src/components/DiffViewer/FileSection.tsx
  packages/react/src/components/DiffViewer/FileSectionBody.tsx
  packages/react/src/components/DiffViewer/SplitView.tsx
  packages/react/src/components/DiffViewer/UnifiedView.tsx
  packages/react/src/context/ReviewContext.tsx
  packages/react/src/utils/comment-anchors.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

build: enforce strict app and package typing
  .ai/kenkeep/ENTRY.md
  .ai/kenkeep/GRAPH.md
  .ai/kenkeep/nodes/app/cli/index.md
  .ai/kenkeep/nodes/engineering/index.md
  .ai/kenkeep/nodes/engineering/map-type-check-programs-and-scripts.md
  .ai/kenkeep/nodes/engineering/practice-check-each-package-with-its-own-tsconfig.md
  .ai/kenkeep/nodes/engineering/practice-write-node-modules-without-a-trailing-slash-in-gitignore.md
  .ai/kenkeep/nodes/knowledge-base/curate/index.md
  .ai/kenkeep/nodes/knowledge-base/structure/index.md
  .ai/kenkeep/nodes/packages/architecture/index.md
  .ai/kenkeep/nodes/packages/architecture/practice-put-the-types-condition-first-in-every-package-exports-block.md
  .ai/kenkeep/nodes/packages/styling/index.md
  .github/workflows/ci.yml
  .gitignore
  AGENTS.md
  README.md
  docs/upstream-issues/homebrew-tap-linux-arm64-and-libstdcxx.md
  package.json
  packages/core/package.json
  packages/core/src/config.test.ts
  packages/core/src/fetch-comments.test.ts
  packages/core/src/xml-serializer.test.ts
  packages/core/tsconfig.json
  packages/react/package.json
  packages/react/src/components/DiffViewer/InlineCommentSlot.test.tsx
  packages/react/src/components/DiffViewer/SyntaxLine.test.tsx
  packages/react/src/components/DiffViewer/useDragSelection.test.ts
  packages/react/tsconfig.json
  packages/types/tsconfig.json
  tsconfig.json
  tsconfig.unit-tests.json
Due: node scripts/lint-staged-eslint.js, prettier --write

chore: remove sift
  .agents/skills/sift-drain/SKILL.md
  .agents/skills/sift-drain/references/run-management.md
  .agents/skills/sift-drain/references/ticket-agent-prompt.md
  .agents/skills/sift-drain/references/wave-gate.md
  .agents/skills/sift-drain/scripts/drain-log.sh
  .agents/skills/sift-drain/scripts/lib.sh
  .agents/skills/sift-drain/scripts/list-labels.sh
  .agents/skills/sift-drain/scripts/next-ticket.sh
  .agents/skills/sift-drain/scripts/prepare-worktree.sh
  .agents/skills/sift-drain/scripts/read-context.sh
  .agents/skills/sift-drain/scripts/reserve-ids.sh
  .agents/skills/sift-drain/scripts/ticket-check.sh
  .agents/skills/sift-drain/scripts/ticket-snapshot.sh
  .agents/skills/sift-drain/scripts/tickets-by-label.sh
  .agents/skills/sift-drain/scripts/wave-status.sh
  .agents/skills/sift-init/SKILL.md
  .agents/skills/sift-init/assets/README.md
  .agents/skills/sift-init/assets/schemas/bug-ticket.example.xml
  .agents/skills/sift-init/assets/schemas/bug-ticket.xsd
  .agents/skills/sift-init/assets/schemas/feature-ticket.xsd
  .agents/skills/sift-init/assets/schemas/sift-common.xsd
  .agents/skills/sift-init/assets/schemas/task-ticket.xsd
  .agents/skills/sift-init/assets/scripts/sift.sh
  .agents/skills/sift-init/scripts/sift-gate.sh
  .agents/skills/sift-init/scripts/sift-init.sh
  .agents/skills/sift-init/scripts/sync-assets.sh
  .agents/skills/sift-prime/SKILL.md
  .agents/skills/sift-prime/references/analysis.md
  .agents/skills/sift-prime/references/drafting-agent-prompt.md
  .agents/skills/sift-prime/scripts/existing-work.sh
  .agents/skills/sift-prime/scripts/lib.sh
  .agents/skills/sift-prime/scripts/reserve-ids.sh
  .ai/sift/.gitignore
  docs/upstream-issues/sift-drain-log-report-merges-concurrent-sittings.md
Due: prettier --write

chore(release): 1.44.0 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/types/package.json
Due: prettier --write

Notes added by 'git notes add'
  ee01eaa529fb06c629474f45d4189c36373a1127
Due: none

fix(core): contain attachment writes inside the asset directory
  packages/core/src/xml-serializer.test.ts
  packages/core/src/xml-serializer.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat(serve): add the HTTP server and its eight routes
  packages/serve/src/server.test.ts
  packages/serve/src/server.ts
  packages/serve/src/validate.test.ts
  packages/serve/src/validate.ts
  packages/serve/vitest.config.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat(serve): add startup, argument handling and lifecycle
  packages/serve/package.json
  packages/serve/src/args.test.ts
  packages/serve/src/args.ts
  packages/serve/src/cli.ts
  packages/serve/src/lifecycle.test.ts
  packages/serve/src/lifecycle.ts
  packages/serve/src/startup.test.ts
  packages/serve/src/startup.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat(serve): add the browser client and its fetch adapter
  package-lock.json
  packages/serve/package.json
  packages/serve/src/client/adapter.test.ts
  packages/serve/src/client/adapter.ts
  packages/serve/src/client/index.html
  packages/serve/src/client/index.tsx
  packages/serve/src/lifecycle.test.ts
  packages/serve/src/server.test.ts
  packages/serve/src/validate.test.ts
  packages/serve/src/validate.ts
  packages/serve/tsconfig.json
  packages/serve/vite.client.config.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat(serve): add request validation and path containment
  package.json
  packages/serve/src/validate.test.ts
  packages/serve/src/validate.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

build(serve): add the serve workspace package and its release wiring
  .github/workflows/release.yml
  .releaserc.json
  package-lock.json
  packages/serve/package.json
  packages/serve/src/cli.ts
  packages/serve/tsconfig.json
  packages/serve/tsup.config.ts
  packages/serve/vitest.config.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

test(serve): prove the round trip and run it in CI
  .github/workflows/ci.yml
  AGENTS.md
  README.md
  package.json
  packages/serve/README.md
  playwright.config.ts
  tests/fixtures/comment-actions.ts
  tests/serve/desktop-equivalence.spec.ts
  tests/serve/review-document.ts
  tests/serve/serve-process.ts
  tests/serve/serve-review.spec.ts
  tests/steps/app.ts
  tests/webapp-steps/app.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

docs(serve): rewrite the READMEs and add npm start:serve
  README.md
  package.json
  packages/serve/README.md
  packages/serve/package.json
  packages/serve/src/args.ts
  packages/serve/src/cli.ts
  packages/serve/src/client/adapter.test.ts
  packages/serve/src/client/adapter.ts
  packages/serve/src/client/index.tsx
  packages/serve/src/lifecycle.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat(serve): warn before a tab closes with unsaved comments
  README.md
  packages/serve/README.md
  packages/serve/src/client/index.tsx
  tests/serve/close-guard.spec.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat(serve): reject foreign hosts and origins, and validate comment ids
  AGENTS.md
  README.md
  packages/serve/README.md
  packages/serve/src/cli.ts
  packages/serve/src/server.test.ts
  packages/serve/src/server.ts
  packages/serve/src/validate.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

style(serve): bring comment density in line with the rest of the project
  packages/serve/src/args.ts
  packages/serve/src/client/adapter.ts
  packages/serve/src/lifecycle.ts
  packages/serve/src/server.ts
  packages/serve/src/startup.ts
  packages/serve/src/validate.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(plan-62): record the serve mode plan and its execution
  .ai/strikethroo/archive/62--serve-mode-node-cli-package/plan-62--serve-mode-node-cli-package.md
  .ai/strikethroo/archive/62--serve-mode-node-cli-package/tasks/01--create-and-wire-the-serve-package.md
  .ai/strikethroo/archive/62--serve-mode-node-cli-package/tasks/02--request-validation-and-path-containment.md
  .ai/strikethroo/archive/62--serve-mode-node-cli-package/tasks/03--http-server-and-routes.md
  .ai/strikethroo/archive/62--serve-mode-node-cli-package/tasks/04--startup-arguments-and-lifecycle.md
  .ai/strikethroo/archive/62--serve-mode-node-cli-package/tasks/05--browser-client-and-fetch-adapter.md
  .ai/strikethroo/archive/62--serve-mode-node-cli-package/tasks/06--end-to-end-proof-and-installed-package-check.md
  .ai/strikethroo/archive/62--serve-mode-node-cli-package/tasks/07--document-serve-mode.md
Due: prettier --write

feat(serve): apply code suggestions from the browser
  packages/core/src/index.ts
  packages/serve/src/client/adapter.ts
  packages/serve/src/server.test.ts
  packages/serve/src/server.ts
  packages/serve/src/validate.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(serve): adopt main's formatting, typing and workspace conventions
  AGENTS.md
  README.md
  package-lock.json
  package.json
  packages/core/src/tsconfig-paths.test.ts
  packages/serve/README.md
  packages/serve/package.json
  packages/serve/src/args.test.ts
  packages/serve/src/client/adapter.test.ts
  packages/serve/src/client/index.html
  packages/serve/src/client/index.tsx
  packages/serve/src/lifecycle.ts
  packages/serve/src/startup.ts
  packages/serve/src/validate.test.ts
  packages/serve/tsconfig.json
  tests/fixtures/comment-actions.ts
  tests/serve/close-guard.spec.ts
  tests/serve/desktop-equivalence.spec.ts
  tests/serve/review-document.ts
  tests/serve/serve-process.ts
  tests/serve/serve-review.spec.ts
  tests/steps/app.ts
  tests/webapp-steps/app.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix(serve): resolve sibling packages to source, not to build output
  packages/serve/tsconfig.json
  tsconfig.unit-tests.json
Due: prettier --write

fix: CVE-2026-33937 security vulnerability (#148)
  package-lock.json
  package.json
Due: prettier --write

fix(ci): install chromium for the serve tests, and reformat package.json
  .github/workflows/ci.yml
  package.json
Due: prettier --write

fix(ci): install chromium for the serve tests, and reformat package.json (#159)
  .github/workflows/ci.yml
  package.json
Due: prettier --write

chore(release): 1.45.0 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/serve/package.json
  packages/types/package.json
Due: prettier --write

Notes added by 'git notes add'
  5fd7aea81e646ebc1447548a850c63be9237b61a
Due: none

fix(serve): move @self-review/react to devDependencies
  package-lock.json
  packages/serve/package.json
Due: prettier --write

chore(tooling): update vendored strikethroo skill scripts
  .agents/skills/st-create-plan/scripts/check-for-updates.cjs
  .agents/skills/st-execute-blueprint/scripts/check-for-updates.cjs
  .agents/skills/st-execute-blueprint/scripts/dispatch-task-execution.cjs
  .agents/skills/st-execute-task/scripts/check-for-updates.cjs
  .agents/skills/st-execute-task/scripts/dispatch-task-execution.cjs
  .agents/skills/st-full-workflow/scripts/check-for-updates.cjs
  .agents/skills/st-full-workflow/scripts/dispatch-task-execution.cjs
  .agents/skills/st-full-workflow/scripts/route-task-execution.cjs
  .agents/skills/st-generate-tasks/scripts/check-for-updates.cjs
  .agents/skills/st-generate-tasks/scripts/route-task-execution.cjs
  .agents/skills/st-refine-plan/scripts/check-for-updates.cjs
  skills-lock.json
Due: prettier --write

Path conditions:
  node scripts/lint-staged-eslint.js: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})
