Repository e0ipso/self-review: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-eslint.js, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["node scripts/lint-staged-eslint.js", "prettier --write"],
  "*.{js,jsx}": ["node scripts/lint-staged-eslint.js", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore: stop tracking local strikethroo config
  .ai/strikethroo/config/config.yaml
Due: prettier --write

feat(serve): require a private per-session capability on API routes (plan 63 phase 5)
  .ai/strikethroo/plans/63--harden-review-integrity-security-and-shared-architecture/plan-63--harden-review-integrity-security-and-shared-architecture.md
  .ai/strikethroo/plans/63--harden-review-integrity-security-and-shared-architecture/tasks/17--serve-session-capability.md
  README.md
  packages/serve/README.md
  packages/serve/src/capability.ts
  packages/serve/src/cli.ts
  packages/serve/src/client/adapter.test.ts
  packages/serve/src/client/adapter.ts
  packages/serve/src/client/index.test.tsx
  packages/serve/src/client/index.tsx
  packages/serve/src/lifecycle.test.ts
  packages/serve/src/protocol.ts
  packages/serve/src/server.test.ts
  packages/serve/src/server.ts
  tests/serve/capability.spec.ts
  tests/serve/serve-process.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

docs: describe the hardened contracts and map audit findings to evidence (plan 63 phase 10)
  .ai/strikethroo/plans/63--harden-review-integrity-security-and-shared-architecture/plan-63--harden-review-integrity-security-and-shared-architecture.md
  .ai/strikethroo/plans/63--harden-review-integrity-security-and-shared-architecture/tasks/24--documentation-and-evidence-mapping.md
  AGENTS.md
  README.md
  docs/PRD.md
  docs/hardening-evidence-2026-10-01.md
Due: prettier --write

feat(core): faithful context expansion and origin-bound attachments (plan 63 phase 7)
  .ai/strikethroo/plans/63--harden-review-integrity-security-and-shared-architecture/plan-63--harden-review-integrity-security-and-shared-architecture.md
  .ai/strikethroo/plans/63--harden-review-integrity-security-and-shared-architecture/tasks/19--context-expansion-fidelity.md
  .ai/strikethroo/plans/63--harden-review-integrity-security-and-shared-architecture/tasks/20--attachment-provenance-and-relocation.md
  AGENTS.md
  packages/core/AGENTS.md
  packages/core/src/attachment-origins.test.ts
  packages/core/src/attachment-origins.ts
  packages/core/src/git-diff-args.test.ts
  packages/core/src/git-diff-args.ts
  packages/core/src/index.ts
  packages/core/src/review-handlers.expand.test.ts
  packages/core/src/review-handlers.test.ts
  packages/core/src/review-handlers.ts
  packages/core/src/review-publisher.ts
  packages/serve/src/server.test.ts
  packages/serve/src/server.ts
  packages/serve/src/startup.ts
  src/main/ipc-handlers.test.ts
  src/main/ipc-handlers.ts
  src/main/main.ts
  src/main/quit-controller.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat(core): explicit source identity and reviewed-snapshot reads (plan 63 phase 6)
  .ai/strikethroo/plans/63--harden-review-integrity-security-and-shared-architecture/plan-63--harden-review-integrity-security-and-shared-architecture.md
  .ai/strikethroo/plans/63--harden-review-integrity-security-and-shared-architecture/tasks/18--source-identity-and-snapshot-reads.md
  AGENTS.md
  packages/core/AGENTS.md
  packages/core/src/bounded-read.ts
  packages/core/src/git-diff-args.ts
  packages/core/src/git-diff-loader.ts
  packages/core/src/git.ts
  packages/core/src/index.ts
  packages/core/src/remote-mode.ts
  packages/core/src/review-handlers.snapshot.test.ts
  packages/core/src/review-handlers.test.ts
  packages/core/src/review-handlers.ts
  packages/core/src/snapshot-reader.test.ts
  packages/core/src/snapshot-reader.ts
  packages/core/src/source-identity.test.ts
  packages/core/src/source-identity.ts
  packages/serve/src/cli.ts
  packages/serve/src/client/index.test.tsx
  packages/serve/src/lifecycle.test.ts
  packages/serve/src/server.test.ts
  packages/serve/src/server.ts
  packages/serve/src/source-identity.test.ts
  packages/serve/src/startup.test.ts
  packages/serve/src/startup.ts
  packages/serve/src/validate.ts
  packages/types/src/index.ts
  src/main/ipc-handlers.test.ts
  src/main/ipc-handlers.ts
  src/main/main.ts
  src/shared/types.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(plan): archive plan 63 with its execution summary
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/evidence/task-12-mermaid-isolation.png
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/evidence/task-12-passive-html-containment.png
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/evidence/task-23-desktop-dark.png
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/evidence/task-23-desktop-light.png
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/evidence/task-23-serve-dark.png
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/evidence/task-23-serve-light.png
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/evidence/task-23-theme-evidence.playwright.config.ts
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/evidence/task-23-theme-evidence.spec.ts
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/plan-63--harden-review-integrity-security-and-shared-architecture.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/01--release-workflow-provenance.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/02--runtime-dependency-refresh.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/03--lossless-xml-and-anchor-validation.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/04--git-diff-loading-fidelity.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/05--contain-preview-failures.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/06--react-session-replacement-semantics.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/07--comment-editing-and-small-ui-defects.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/08--stable-markdown-and-parsed-html-positions.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/09--explicit-lazy-load-states.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/10--safe-review-output-publisher.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/11--apply-authorization-and-safe-mutation.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/12--isolate-mermaid-and-passive-layout.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/13--bound-backend-input-work.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/14--electron-quit-and-save-recovery.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/15--serve-recoverable-submission.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/16--remote-thread-provenance-and-shared-helpers.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/17--serve-session-capability.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/18--source-identity-and-snapshot-reads.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/19--context-expansion-fidelity.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/20--attachment-provenance-and-relocation.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/21--shared-startup-and-config-provenance.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/22--remote-session-lifetime-ownership.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/23--scoped-themes-and-canonical-defaults.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/24--documentation-and-evidence-mapping.md
Due: node scripts/lint-staged-eslint.js, prettier --write

chore: drop references to the removed audit evidence files
  docs/dependency-advisory-classification-2026-10-01.md
  docs/hardening-evidence-2026-10-01.md
  eslint.config.mjs
  packages/react/src/components/DiffViewer/MermaidBlock.test.tsx
  tests/webapp/fixture-data.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(plan): remove plan 63 evidence screenshots and probe spec
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/evidence/task-12-mermaid-isolation.png
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/evidence/task-12-passive-html-containment.png
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/evidence/task-23-desktop-dark.png
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/evidence/task-23-desktop-light.png
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/evidence/task-23-serve-dark.png
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/evidence/task-23-serve-light.png
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/evidence/task-23-theme-evidence.playwright.config.ts
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/evidence/task-23-theme-evidence.spec.ts
  docs/hardening-evidence-2026-10-01.md
Due: node scripts/lint-staged-eslint.js, prettier --write

test(core): keep the inspected inode allocated in the atomicReplace swap test
  packages/core/src/safe-fs.test.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

docs: describe release and hardening behaviour without attack details
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/plan-63--harden-review-integrity-security-and-shared-architecture.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/01--release-workflow-provenance.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/02--runtime-dependency-refresh.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/03--lossless-xml-and-anchor-validation.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/04--git-diff-loading-fidelity.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/05--contain-preview-failures.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/06--react-session-replacement-semantics.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/07--comment-editing-and-small-ui-defects.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/08--stable-markdown-and-parsed-html-positions.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/09--explicit-lazy-load-states.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/10--safe-review-output-publisher.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/11--apply-authorization-and-safe-mutation.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/12--isolate-mermaid-and-passive-layout.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/13--bound-backend-input-work.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/14--electron-quit-and-save-recovery.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/15--serve-recoverable-submission.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/16--remote-thread-provenance-and-shared-helpers.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/17--serve-session-capability.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/18--source-identity-and-snapshot-reads.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/19--context-expansion-fidelity.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/20--attachment-provenance-and-relocation.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/21--shared-startup-and-config-provenance.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/22--remote-session-lifetime-ownership.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/23--scoped-themes-and-canonical-defaults.md
  .ai/strikethroo/archive/63--harden-review-integrity-security-and-shared-architecture/tasks/24--documentation-and-evidence-mapping.md
  docs/dependency-advisory-classification-2026-10-01.md
  docs/hardening-evidence-2026-10-01.md
  docs/release-security.md
  packages/core/src/apply-suggestion.test.ts
  packages/core/src/review-handlers.test.ts
  scripts/release/verify-provenance.sh
  scripts/test/release-provenance.test.sh
Due: node scripts/lint-staged-eslint.js, prettier --write

docs: add upgrade notes for the 1.x to 2.0 breaking changes
  AGENTS.md
  README.md
  docs/hardening-evidence-2026-10-01.md
Due: prettier --write

docs: add upgrade notes for the 1.x to 2.0 breaking changes (#166)
  AGENTS.md
  README.md
  docs/hardening-evidence-2026-10-01.md
Due: prettier --write

chore(release): 2.0.0 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/serve/package.json
  packages/types/package.json
Due: prettier --write

Notes added by 'git notes add'
  1778debee3217f554819beea660c51a5726b63e5
Due: none

fix(release): link workspace packages instead of installing 1.x from npm
  .github/workflows/release.yml
  .releaserc.json
  docs/release-security.md
  package-lock.json
  packages/serve/package.json
  scripts/release/sync-workspace-versions.mjs
  scripts/test/sync-workspace-versions.test.mjs
Due: prettier --write

fix(release): link workspace packages instead of installing 1.x from npm (#167)
  .github/workflows/release.yml
  .releaserc.json
  docs/release-security.md
  package-lock.json
  packages/serve/package.json
  scripts/release/sync-workspace-versions.mjs
  scripts/test/sync-workspace-versions.test.mjs
Due: prettier --write

chore(release): 2.0.1 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/serve/package.json
  packages/types/package.json
Due: prettier --write

Notes added by 'git notes add'
  8519a93cf9aa1f6465d83c245d8683b9fe28a552
Due: none

fix(release): publish the packed tarballs by path, after the app assets
  .github/workflows/release.yml
Due: prettier --write

fix(release): publish the packed tarballs by path, after the app assets (#168)
  .github/workflows/release.yml
Due: prettier --write

chore(release): 2.0.2 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/serve/package.json
  packages/types/package.json
Due: prettier --write

Notes added by 'git notes add'
  b18d56e28fbc3286443e49bcb202b7e3f0ec9f88
Due: none

chore(flake): install the v2.0.2 hashes and read the source URL from passthru
  flake.nix
  scripts/test/update-flake-hash.test.sh
  scripts/update-flake-hash.sh
Due: none

chore: update flake hashes for v2.0.2
  flake.lock
Due: none

chore(flake): install the v2.0.2 hashes and read the source URL from passthru (#169)
  flake.nix
  scripts/test/update-flake-hash.test.sh
  scripts/update-flake-hash.sh
Due: none

ci: dispatch Homebrew tap updates
  .github/workflows/release.yml
  docs/release-security.md
Due: prettier --write

ci: dispatch Homebrew tap updates (#173)
  .github/workflows/release.yml
  docs/release-security.md
Due: prettier --write
