Repository e0ipso/self-review: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-eslint.js, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["node scripts/lint-staged-eslint.js", "prettier --write"],
  "*.{js,jsx}": ["node scripts/lint-staged-eslint.js", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

docs: fix the macOS instructions
  README.md
  forge.config.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

ci: add semantic-release/git to sync package version with releases [skip ci]
  .releaserc.json
  package-lock.json
  package.json
Due: prettier --write

fix: set explicit window icon on Linux for alt+tab and taskbar
  forge.config.ts
  src/main/main.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

ci: disable husky hooks during semantic-release
  .github/workflows/release.yml
Due: prettier --write

refactor: simplify self-review-apply skill prompt
  .claude/skills/self-review-apply/SKILL.md
Due: prettier --write

chore(release): 1.1.7 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6e61247b2c2fb89dc324470c4194c724d3d4e8cf
Due: none

feat: add markdown formatting toolbar
  AGENTS.md
  package-lock.json
  package.json
  src/index.css
  src/renderer/components/Comments/CommentInput.tsx
  tests/features/07-xml-output.feature
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: add markdown formatting toolbar (#3)
  AGENTS.md
  package-lock.json
  package.json
  src/index.css
  src/renderer/components/Comments/CommentInput.tsx
  tests/features/07-xml-output.feature
Due: node scripts/lint-staged-eslint.js, prettier --write

Notes added by 'git notes add'
  7051f3ac4707753aca59bf85400fc163a5586108
Due: none

chore(release): 1.2.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

feat: add image attachment plumbing
  .claude/skills/self-review-apply/assets/self-review-v1.xsd
  src/main/ipc-handlers.ts
  src/main/xml-serializer.ts
  src/preload/preload.ts
  src/shared/ipc-channels.ts
  src/shared/types.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: implement image attachment core
  src/main/main.ts
  src/main/xml-parser.test.ts
  src/main/xml-parser.ts
  src/main/xml-serializer.test.ts
  src/main/xml-serializer.ts
  src/renderer/components/Comments/CommentDisplay.tsx
  src/renderer/components/Comments/CommentInput.tsx
  src/renderer/context/ReviewContext.tsx
  src/renderer/hooks/useReviewState.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

docs: update project docs for attachments
  .claude/skills/self-review-apply/SKILL.md
  AGENTS.md
  docs/PRD.md
  src/main/xml-parser.test.ts
  src/main/xml-serializer.test.ts
  src/renderer/hooks/useReviewState.test.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: attachment thumbnail and paste bugs
  src/renderer/components/Comments/CommentInput.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: resolve image attachment failures
  forge.config.ts
  src/renderer/components/Comments/CommentInput.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: render image in new window on click
  src/renderer/components/Comments/CommentDisplay.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: add drag-over visual indicator
  src/renderer/components/Comments/CommentInput.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

chore: ignore .self-review-assets directory
  .gitignore
Due: none

feat: image attachments in comments (#4)
  .claude/skills/self-review-apply/SKILL.md
  .claude/skills/self-review-apply/assets/self-review-v1.xsd
  .gitignore
  AGENTS.md
  docs/PRD.md
  forge.config.ts
  src/main/ipc-handlers.ts
  src/main/main.ts
  src/main/xml-parser.test.ts
  src/main/xml-parser.ts
  src/main/xml-serializer.test.ts
  src/main/xml-serializer.ts
  src/preload/preload.ts
  src/renderer/components/Comments/CommentDisplay.tsx
  src/renderer/components/Comments/CommentInput.tsx
  src/renderer/context/ReviewContext.tsx
  src/renderer/hooks/useReviewState.test.ts
  src/renderer/hooks/useReviewState.ts
  src/shared/ipc-channels.ts
  src/shared/types.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(release): 1.3.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  90a7c5c4994e5893854356b71fb2f486d52c9a28
Due: none

feat: keyboard hint navigation foundation
  src/main/git.ts
  src/main/ipc-handlers.ts
  src/main/main.ts
  src/main/synthetic-diff.ts
  src/main/xml-parser.test.ts
  src/main/xml-serializer.test.ts
  src/main/xml-serializer.ts
  src/renderer/components/DiffViewer/DiffViewer.tsx
  src/renderer/components/Toolbar.tsx
  src/renderer/context/ReviewContext.tsx
  src/shared/types.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: keyboard navigation hook and overlay
  src/renderer/components/HintOverlay.tsx
  src/renderer/hooks/useKeyboardNavigation.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: integrate keyboard navigation and help
  src/renderer/App.tsx
  src/renderer/components/FileTree.tsx
  src/renderer/components/KeyboardNavigationManager.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

test: keyboard navigation tests and docs
  .claude/skills/self-review-apply/assets/self-review-v1.xsd
  AGENTS.md
  docs/PRD.md
  src/main/directory-scanner.test.ts
  src/main/directory-scanner.ts
  src/main/xml-parser.test.ts
  src/main/xml-parser.ts
  src/main/xml-serializer.test.ts
  src/main/xml-serializer.ts
  src/renderer/hooks/useKeyboardNavigation.test.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: conditional startup and directory IPC
  src/main/cli.ts
  src/main/ipc-handlers.ts
  src/main/main.ts
  src/preload/preload.ts
  src/shared/ipc-channels.ts
  src/shared/types.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: welcome screen and mode-aware UI
  src/renderer/App.tsx
  src/renderer/components/DiffViewer/DiffViewer.tsx
  src/renderer/components/Toolbar.tsx
  src/renderer/components/WelcomeScreen.tsx
  src/renderer/components/ui/card.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

docs: welcome screen and directory mode
  AGENTS.md
  docs/PRD.md
  tests/features/11-welcome-screen.feature
  tests/steps/11-welcome-screen.steps.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: enhance keyboard hint navigation
  src/renderer/components/Comments/CommentInput.tsx
  src/renderer/components/DiffViewer/FileSection.tsx
  src/renderer/components/DiffViewer/SplitView.tsx
  src/renderer/components/DiffViewer/UnifiedView.tsx
  src/renderer/components/Layout.tsx
  src/renderer/context/DiffNavigationContext.tsx
  src/renderer/hooks/useDiffNavigation.test.ts
  src/renderer/hooks/useDiffNavigation.ts
  src/renderer/hooks/useKeyboardNavigation.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: welcome screen close and toolbar UX gaps
  src/renderer/components/Toolbar.tsx
  src/renderer/components/WelcomeScreen.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: welcome screen and keyboard hint navigation (#5)
  .claude/skills/self-review-apply/assets/self-review-v1.xsd
  AGENTS.md
  docs/PRD.md
  src/main/cli.ts
  src/main/directory-scanner.test.ts
  src/main/directory-scanner.ts
  src/main/git.ts
  src/main/ipc-handlers.ts
  src/main/main.ts
  src/main/synthetic-diff.ts
  src/main/xml-parser.test.ts
  src/main/xml-parser.ts
  src/main/xml-serializer.test.ts
  src/main/xml-serializer.ts
  src/preload/preload.ts
  src/renderer/App.tsx
  src/renderer/components/Comments/CommentInput.tsx
  src/renderer/components/DiffViewer/DiffViewer.tsx
  src/renderer/components/DiffViewer/FileSection.tsx
  src/renderer/components/DiffViewer/SplitView.tsx
  src/renderer/components/DiffViewer/UnifiedView.tsx
  src/renderer/components/FileTree.tsx
  src/renderer/components/HintOverlay.tsx
  src/renderer/components/KeyboardNavigationManager.tsx
  src/renderer/components/Layout.tsx
  src/renderer/components/Toolbar.tsx
  src/renderer/components/WelcomeScreen.tsx
  src/renderer/components/ui/card.tsx
  src/renderer/context/DiffNavigationContext.tsx
  src/renderer/context/ReviewContext.tsx
  src/renderer/hooks/useDiffNavigation.test.ts
  src/renderer/hooks/useDiffNavigation.ts
  src/renderer/hooks/useKeyboardNavigation.test.ts
  src/renderer/hooks/useKeyboardNavigation.ts
  src/shared/ipc-channels.ts
  src/shared/types.ts
  tests/features/11-welcome-screen.feature
  tests/steps/11-welcome-screen.steps.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(release): 1.4.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  579c8764e0599a504565031e66246b451eadacbb
Due: none

feat: single file review mode
  src/main/directory-scanner.test.ts
  src/main/directory-scanner.ts
  src/main/ipc-handlers.ts
  src/main/main.ts
  src/main/xml-serializer.test.ts
  src/main/xml-serializer.ts
  src/renderer/components/DiffViewer/DiffViewer.tsx
  src/renderer/components/Toolbar.tsx
  src/shared/types.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: single file review mode (#6)
  src/main/directory-scanner.test.ts
  src/main/directory-scanner.ts
  src/main/ipc-handlers.ts
  src/main/main.ts
  src/main/xml-serializer.test.ts
  src/main/xml-serializer.ts
  src/renderer/components/DiffViewer/DiffViewer.tsx
  src/renderer/components/Toolbar.tsx
  src/shared/types.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(release): 1.5.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  803727d6a14b0bfefa39f741f2130671bed386a4
Due: none

feat: add logo and branding to welcome screen
  src/renderer/components/WelcomeScreen.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: add logo and branding to welcome screen (#7)
  src/renderer/components/WelcomeScreen.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write
