Repository e0ipso/self-review: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-eslint.js, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["node scripts/lint-staged-eslint.js", "prettier --write"],
  "*.{js,jsx}": ["node scripts/lint-staged-eslint.js", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix: toml bracket rendering broken (#19)
  src/index.css
Due: none

Notes added by 'git notes add'
  411cbbf971f1d5eea358260733b73d83a7233bb9
Due: none

feat(filetree): make viewed indicator a toggle
  src/renderer/components/FileTree.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

feat(filetree): make viewed indicator a toggle (#27)
  src/renderer/components/FileTree.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

Notes added by 'git notes add'
  482e95c60fe0724562512f67d832194b55859fbe
Due: none

feat: add output path IPC and writability
  src/main/ipc-handlers.ts
  src/main/main.ts
  src/preload/preload.ts
  src/shared/ipc-channels.ts
  src/shared/types.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: add output path indicator UI
  src/renderer/components/FileTree.tsx
  src/renderer/components/Toolbar.tsx
  src/renderer/context/ConfigContext.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: add writability tests and docs
  AGENTS.md
  src/main/fs-utils.test.ts
  src/main/fs-utils.ts
  src/main/main.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

chore: update AI Task Manager
  .ai/task-manager/.init-metadata.json
  .ai/task-manager/config/TASK_MANAGER.md
  .ai/task-manager/config/hooks/POST_ERROR_DETECTION.md
  .ai/task-manager/config/hooks/POST_EXECUTION.md
  .ai/task-manager/config/hooks/POST_PHASE.md
  .ai/task-manager/config/hooks/POST_PLAN.md
  .ai/task-manager/config/hooks/POST_TASK_GENERATION_ALL.md
  .ai/task-manager/config/hooks/PRE_PHASE.md
  .ai/task-manager/config/hooks/PRE_PLAN.md
  .ai/task-manager/config/hooks/PRE_TASK_ASSIGNMENT.md
  .ai/task-manager/config/scripts/check-task-dependencies.cjs
  .ai/task-manager/config/scripts/compose-prompt.cjs
  .ai/task-manager/config/scripts/create-feature-branch.cjs
  .ai/task-manager/config/scripts/get-next-plan-id.cjs
  .ai/task-manager/config/scripts/get-next-task-id.cjs
  .ai/task-manager/config/scripts/shared-utils.cjs
  .ai/task-manager/config/scripts/validate-plan-blueprint.cjs
  .ai/task-manager/config/templates/BLUEPRINT_TEMPLATE.md
  .ai/task-manager/config/templates/EXECUTION_SUMMARY_TEMPLATE.md
  .ai/task-manager/config/templates/PLAN_TEMPLATE.md
  .ai/task-manager/config/templates/TASK_TEMPLATE.md
Due: prettier --write

fix: restore POST_PLAN hook checklist
  .ai/task-manager/config/hooks/POST_PLAN.md
Due: prettier --write

refactor: extract TruncatedPath component
  src/renderer/components/FileTree.tsx
  src/renderer/components/TruncatedPath.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: add output path indicator (#28)
  .ai/task-manager/.init-metadata.json
  .ai/task-manager/config/TASK_MANAGER.md
  .ai/task-manager/config/hooks/POST_ERROR_DETECTION.md
  .ai/task-manager/config/hooks/POST_EXECUTION.md
  .ai/task-manager/config/hooks/POST_PHASE.md
  .ai/task-manager/config/hooks/POST_TASK_GENERATION_ALL.md
  .ai/task-manager/config/hooks/PRE_PHASE.md
  .ai/task-manager/config/hooks/PRE_PLAN.md
  .ai/task-manager/config/hooks/PRE_TASK_ASSIGNMENT.md
  .ai/task-manager/config/scripts/check-task-dependencies.cjs
  .ai/task-manager/config/scripts/compose-prompt.cjs
  .ai/task-manager/config/scripts/create-feature-branch.cjs
  .ai/task-manager/config/scripts/get-next-plan-id.cjs
  .ai/task-manager/config/scripts/get-next-task-id.cjs
  .ai/task-manager/config/scripts/shared-utils.cjs
  .ai/task-manager/config/scripts/validate-plan-blueprint.cjs
  .ai/task-manager/config/templates/BLUEPRINT_TEMPLATE.md
  .ai/task-manager/config/templates/EXECUTION_SUMMARY_TEMPLATE.md
  .ai/task-manager/config/templates/PLAN_TEMPLATE.md
  .ai/task-manager/config/templates/TASK_TEMPLATE.md
  AGENTS.md
  src/main/fs-utils.test.ts
  src/main/fs-utils.ts
  src/main/ipc-handlers.ts
  src/main/main.ts
  src/preload/preload.ts
  src/renderer/components/FileTree.tsx
  src/renderer/components/Toolbar.tsx
  src/renderer/components/TruncatedPath.tsx
  src/renderer/context/ConfigContext.tsx
  src/shared/ipc-channels.ts
  src/shared/types.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(release): 1.16.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  233d9436c8ddb58b9f83c9d93f39b3ee7efd3bab
Due: none

feat: add loading spinner on startup
  src/renderer/App.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(release): 1.17.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6b771d21ae5950f1f23b00fdf6fc14238a244e16
Due: none

fix: replace FindBar auto-search with Enter
  src/renderer/components/FindBar.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

test: update find-in-page e2e for Enter search
  tests/features/14-find-in-page.feature
Due: none

fix: restore find cycling and adjust count
  src/renderer/components/FindBar.tsx
  tests/features/14-find-in-page.feature
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(release): 1.17.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4b8efe46f991fb3fb422bb4220b76e4ead6fd57d
Due: none

fix: rendered markdown margin issues
  src/index.css
  src/renderer/components/DiffViewer/MermaidBlock.tsx
  src/renderer/components/DiffViewer/RenderedMarkdownView.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

refactor: wrap all blocks in container div
  src/renderer/components/DiffViewer/RenderedMarkdownView.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

Fix rendered markdown margin issues (#33)
  src/index.css
  src/renderer/components/DiffViewer/MermaidBlock.tsx
  src/renderer/components/DiffViewer/RenderedMarkdownView.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

Notes added by 'git notes add'
  0141d22160fe03ebd75ed56b4c3eebe71b7f418c
Due: none

feat: add version checker and IPC bridge
  src/main/ipc-handlers.ts
  src/main/main.ts
  src/main/version-checker.ts
  src/preload/preload.ts
  src/shared/ipc-channels.ts
  src/shared/types.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: add update banner component
  src/renderer/App.tsx
  src/renderer/components/UpdateBanner.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

test: add version checker tests, update docs
  AGENTS.md
  src/main/version-checker.test.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

test: add emoji utility and plugin tests
  src/renderer/utils/emoji-data.test.ts
  src/renderer/utils/remark-emoji.test.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: add emoji data utility layer
  package-lock.json
  package.json
  src/declarations.d.ts
  src/renderer/utils/emoji-data.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: add emoji autocomplete and rendering
  src/renderer/components/Comments/CommentDisplay.tsx
  src/renderer/components/Comments/CommentInput.tsx
  src/renderer/components/Comments/EmojiAutocomplete.tsx
  src/renderer/components/DiffViewer/RenderedMarkdownView.tsx
  src/renderer/hooks/useEmojiAutocomplete.ts
  src/renderer/utils/remark-emoji.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

docs: add emoji shortcode support to AGENTS.md
  AGENTS.md
Due: prettier --write

fix: use request/response for version check
  src/main/ipc-handlers.ts
  src/main/main.ts
  src/main/version-checker.ts
  src/preload/preload.ts
  src/renderer/components/UpdateBanner.tsx
  src/shared/ipc-channels.ts
  src/shared/types.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

Add version update check and emoji shortcodes (#34)
  AGENTS.md
  package-lock.json
  package.json
  src/declarations.d.ts
  src/main/ipc-handlers.ts
  src/main/main.ts
  src/main/version-checker.test.ts
  src/main/version-checker.ts
  src/preload/preload.ts
  src/renderer/App.tsx
  src/renderer/components/Comments/CommentDisplay.tsx
  src/renderer/components/Comments/CommentInput.tsx
  src/renderer/components/Comments/EmojiAutocomplete.tsx
  src/renderer/components/DiffViewer/RenderedMarkdownView.tsx
  src/renderer/components/UpdateBanner.tsx
  src/renderer/hooks/useEmojiAutocomplete.ts
  src/renderer/utils/emoji-data.test.ts
  src/renderer/utils/emoji-data.ts
  src/renderer/utils/remark-emoji.test.ts
  src/renderer/utils/remark-emoji.ts
  src/shared/ipc-channels.ts
  src/shared/types.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

Notes added by 'git notes add'
  92ad8b5ba0eda199e535aa58c07c062a4f7e5f4d
Due: none

fix: light theme code/mermaid contrast
  AGENTS.md
  src/index.css
  src/renderer/components/DiffViewer/MermaidBlock.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: remove unused idRef from MermaidBlock
  src/renderer/components/DiffViewer/MermaidBlock.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: light theme code/mermaid contrast (#35)
  AGENTS.md
  src/index.css
  src/renderer/components/DiffViewer/MermaidBlock.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write
