Repository e0ipso/self-review: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-eslint.js, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["node scripts/lint-staged-eslint.js", "prettier --write"],
  "*.{js,jsx}": ["node scripts/lint-staged-eslint.js", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

test(guide): webapp e2e scenarios for guided walkthrough mode
  tests/webapp-features/10-guided-mode.feature
  tests/webapp-steps/10-guided-mode.steps.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix(guide): address adversarial review findings
  .agents/skills/self-review-guide/SKILL.md
  .gitignore
  AGENTS.md
  docs/intent/llm-review-guide.md
  packages/core/src/guide-parser.test.ts
  packages/core/src/guide-parser.ts
  packages/react/src/adapter.ts
  packages/react/src/components/FileTree.tsx
  packages/react/src/context/GuideContext.tsx
  src/main/guide-loader.ts
  src/preload/preload.ts
  src/shared/types.ts
  tests/webapp/main.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(release): 1.40.0 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/types/package.json
Due: prettier --write

Notes added by 'git notes add'
  91a119f098e2a319e9baa305e7394a4a74ee82b1
Due: none

fix: emit xmllint.wasm alongside its relocated loader
  webpack.main.config.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: emit xmllint.wasm alongside its relocated loader (#122)
  webpack.main.config.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(release): 1.40.1 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/types/package.json
Due: prettier --write

Notes added by 'git notes add'
  2128b979ae168552c6764bace194f6b4cb18f5d6
Due: none

chore(release): 1.41.0 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/types/package.json
Due: prettier --write

Notes added by 'git notes add'
  38cc960a34e4bceeb71aaecf058dbfd4a60a3a68
Due: none

feat(guided): redesign guided mode as a visual journey
  packages/react/src/components/DiffViewer/FileSection.tsx
  packages/react/src/components/DiffViewer/GuideOverviewPanel.tsx
  packages/react/src/components/FileTree.tsx
  packages/react/src/components/FileTreeEntry.tsx
  packages/react/src/components/Toolbar.tsx
  packages/react/src/context/DiffNavigationContext.tsx
  packages/react/src/styles.css
  packages/react/src/utils/guide-accents.ts
  tests/webapp-steps/app.ts
  tests/webapp/styles.css
Due: node scripts/lint-staged-eslint.js, prettier --write

fix(guided): make dark mode self-contained and clean up mermaid surface
  packages/react/src/components/DiffViewer/MermaidBlock.tsx
  packages/react/src/components/Layout.tsx
  packages/react/src/styles.css
  tests/webapp/main.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

refactor(guided): replace gradient styling with a transit-route design language
  packages/react/src/components/DiffViewer/FileSection.tsx
  packages/react/src/components/DiffViewer/GuideOverviewPanel.tsx
  packages/react/src/components/FileTree.tsx
  packages/react/src/components/GuideStation.tsx
  packages/react/src/components/Toolbar.tsx
  packages/react/src/styles.css
  packages/react/src/utils/guide-accents.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat(guided): walkthrough as a journey — route map, chapters, live wayfinding
  packages/react/src/components/DiffViewer/DiffViewer.tsx
  packages/react/src/components/DiffViewer/GuideChapterDivider.tsx
  packages/react/src/components/DiffViewer/GuideOverviewPanel.tsx
  packages/react/src/components/GuideRouteHud.tsx
  packages/react/src/components/GuideRouteMap.tsx
  packages/react/src/components/Layout.tsx
  packages/react/src/context/DiffNavigationContext.tsx
  packages/react/src/styles.css
Due: node scripts/lint-staged-eslint.js, prettier --write

feat(guided): per-chapter line colors and a recallable overview dialog
  package-lock.json
  packages/react/package.json
  packages/react/src/components/DiffViewer/DiffViewer.tsx
  packages/react/src/components/DiffViewer/FileSection.tsx
  packages/react/src/components/DiffViewer/GuideChapterDivider.tsx
  packages/react/src/components/DiffViewer/GuideOverviewContent.tsx
  packages/react/src/components/DiffViewer/GuideOverviewDialog.tsx
  packages/react/src/components/DiffViewer/GuideOverviewPanel.tsx
  packages/react/src/components/FileTree.tsx
  packages/react/src/components/GuideRouteHud.tsx
  packages/react/src/components/GuideRouteMap.tsx
  packages/react/src/components/GuideStation.tsx
  packages/react/src/components/ui/dialog.tsx
  packages/react/src/context/GuideContext.tsx
  packages/react/src/styles.css
  packages/react/src/utils/guide-accents.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix(guided): apply self-review findings on the walkthrough redesign
  packages/react/src/components/DiffViewer/GuideOverviewContent.tsx
  packages/react/src/components/FileTree.tsx
  packages/react/src/components/GuideRouteMap.tsx
  packages/react/src/styles.css
  packages/react/src/utils/guide-display.test.ts
  packages/react/src/utils/guide-display.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

chore: gitignore the generated review.guide.xml sidecar
  .gitignore
Due: none

feat(guided): redesign guided mode as a visual journey (#125)
  .gitignore
  package-lock.json
  packages/react/package.json
  packages/react/src/components/DiffViewer/DiffViewer.tsx
  packages/react/src/components/DiffViewer/FileSection.tsx
  packages/react/src/components/DiffViewer/GuideChapterDivider.tsx
  packages/react/src/components/DiffViewer/GuideOverviewContent.tsx
  packages/react/src/components/DiffViewer/GuideOverviewDialog.tsx
  packages/react/src/components/DiffViewer/GuideOverviewPanel.tsx
  packages/react/src/components/DiffViewer/MermaidBlock.tsx
  packages/react/src/components/FileTree.tsx
  packages/react/src/components/FileTreeEntry.tsx
  packages/react/src/components/GuideRouteHud.tsx
  packages/react/src/components/GuideRouteMap.tsx
  packages/react/src/components/GuideStation.tsx
  packages/react/src/components/Layout.tsx
  packages/react/src/components/Toolbar.tsx
  packages/react/src/components/ui/dialog.tsx
  packages/react/src/context/DiffNavigationContext.tsx
  packages/react/src/context/GuideContext.tsx
  packages/react/src/styles.css
  packages/react/src/utils/guide-accents.ts
  packages/react/src/utils/guide-display.test.ts
  packages/react/src/utils/guide-display.ts
  tests/webapp-steps/app.ts
  tests/webapp/main.tsx
  tests/webapp/styles.css
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(release): 1.42.0 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/types/package.json
Due: prettier --write

Notes added by 'git notes add'
  4150ac8aacddfa3c9cdec42e56874acd1f028d48
Due: none

docs: add remote PR/MR review intent and plan 58 baseline
  .ai/strikethroo/plans/58--remote-pr-mr-review/plan-58--remote-pr-mr-review.md
  .ai/strikethroo/plans/58--remote-pr-mr-review/tasks/01--amend-v3-schema-remote-attributes.md
  .ai/strikethroo/plans/58--remote-pr-mr-review/tasks/02--forgeprovider-interface-url-parsing.md
  .ai/strikethroo/plans/58--remote-pr-mr-review/tasks/03--github-provider.md
  .ai/strikethroo/plans/58--remote-pr-mr-review/tasks/04--gitlab-provider.md
  .ai/strikethroo/plans/58--remote-pr-mr-review/tasks/05--diff-materializer.md
  .ai/strikethroo/plans/58--remote-pr-mr-review/tasks/06--deterministic-thread-mapper.md
  .ai/strikethroo/plans/58--remote-pr-mr-review/tasks/07--fetch-comments-subcommand.md
  .ai/strikethroo/plans/58--remote-pr-mr-review/tasks/08--app-remote-mode-main-process.md
  .ai/strikethroo/plans/58--remote-pr-mr-review/tasks/09--renderer-url-entry-drift-warning.md
  .ai/strikethroo/plans/58--remote-pr-mr-review/tasks/10--documentation-and-skill-updates.md
  docs/intent/remote-pr-review.md
Due: prettier --write

feat(remote): add remote provenance to v3 schema and ForgeProvider contracts
  .agents/skills/self-review-apply/assets/self-review-v3.xsd
  .ai/strikethroo/plans/58--remote-pr-mr-review/plan-58--remote-pr-mr-review.md
  .ai/strikethroo/plans/58--remote-pr-mr-review/review/base-commit.json
  .ai/strikethroo/plans/58--remote-pr-mr-review/tasks/01--amend-v3-schema-remote-attributes.md
  .ai/strikethroo/plans/58--remote-pr-mr-review/tasks/02--forgeprovider-interface-url-parsing.md
  packages/core/src/forge-provider.test.ts
  packages/core/src/forge-provider.ts
  packages/core/src/index.ts
  packages/core/src/xml-parser.test.ts
  packages/core/src/xml-parser.ts
  packages/core/src/xml-serializer.test.ts
  packages/core/src/xml-serializer.ts
  packages/core/src/xsd-schema.test.ts
  packages/types/src/index.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat(remote): add forge providers, clone-aware materializer, and thread mapper
  .ai/strikethroo/plans/58--remote-pr-mr-review/plan-58--remote-pr-mr-review.md
  .ai/strikethroo/plans/58--remote-pr-mr-review/tasks/03--github-provider.md
  .ai/strikethroo/plans/58--remote-pr-mr-review/tasks/04--gitlab-provider.md
  .ai/strikethroo/plans/58--remote-pr-mr-review/tasks/05--diff-materializer.md
  .ai/strikethroo/plans/58--remote-pr-mr-review/tasks/06--deterministic-thread-mapper.md
  packages/core/src/github-provider.test.ts
  packages/core/src/github-provider.ts
  packages/core/src/gitlab-provider.test.ts
  packages/core/src/gitlab-provider.ts
  packages/core/src/index.ts
  packages/core/src/materializer.test.ts
  packages/core/src/materializer.ts
  packages/core/src/thread-mapper.test.ts
  packages/core/src/thread-mapper.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat(remote): add fetch-comments subcommand and app remote mode
  .ai/strikethroo/plans/58--remote-pr-mr-review/plan-58--remote-pr-mr-review.md
  .ai/strikethroo/plans/58--remote-pr-mr-review/tasks/07--fetch-comments-subcommand.md
  .ai/strikethroo/plans/58--remote-pr-mr-review/tasks/08--app-remote-mode-main-process.md
  packages/core/src/forge-provider.ts
  packages/core/src/xml-parser.test.ts
  packages/core/src/xml-parser.ts
  packages/types/src/index.ts
  src/main/cli.test.ts
  src/main/cli.ts
  src/main/fetch-comments.test.ts
  src/main/fetch-comments.ts
  src/main/git-diff-loader.ts
  src/main/ipc-handlers.test.ts
  src/main/ipc-handlers.ts
  src/main/main.ts
  src/main/remote-mode.test.ts
  src/main/remote-mode.ts
  src/preload/preload.ts
  src/shared/ipc-channels.ts
  src/shared/types.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat(remote): add splash URL entry, drift warning, and remote-mode docs
  .agents/skills/self-review-apply/SKILL.md
  .agents/skills/self-review-critique/SKILL.md
  .agents/skills/self-review-guide/SKILL.md
  .ai/kenkeep/nodes/app/practice-keep-self-review-local-only-with-no-network-access.md
  .ai/kenkeep/nodes/app/practice-limit-file-writes-to-the-review-xml-and-assets-directory.md
  .ai/kenkeep/nodes/app/practice-make-no-network-connections-at-runtime.md
  .ai/kenkeep/nodes/app/practice-make-zero-network-requests-except-the-startup-version-check.md
  .ai/kenkeep/nodes/review-xml/schema/map-review-xml-format-and-xsd.md
  .ai/kenkeep/nodes/review-xml/schema/map-self-review-v1-xsd-output-format.md
  .ai/kenkeep/nodes/review-xml/schema/map-self-review-xml-schema-self-review-v1-xsd.md
  .ai/kenkeep/nodes/review-xml/schema/map-self-review-xml-v1-schema.md
  .ai/kenkeep/nodes/review-xml/schema/map-xsd-schema-location.md
  .ai/kenkeep/nodes/review-xml/schema/practice-keep-the-xsd-schema-in-sync-across-its-two-locations.md
  .ai/strikethroo/plans/58--remote-pr-mr-review/plan-58--remote-pr-mr-review.md
  .ai/strikethroo/plans/58--remote-pr-mr-review/tasks/09--renderer-url-entry-drift-warning.md
  .ai/strikethroo/plans/58--remote-pr-mr-review/tasks/10--documentation-and-skill-updates.md
  AGENTS.md
  README.md
  docs/PRD.md
  packages/core/src/browser.ts
  packages/react/src/components/Comments/SuggestionBlock.test.tsx
  packages/react/src/components/RemoteDriftBanner.test.tsx
  packages/react/src/components/RemoteDriftBanner.tsx
  packages/react/src/context/ReviewContext.tsx
  src/renderer/App.tsx
  src/renderer/components/WelcomeScreen.test.tsx
  src/renderer/components/WelcomeScreen.tsx
  vitest.config.renderer.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(plan-58): record execution summary and archive completed plan
  .ai/strikethroo/archive/58--remote-pr-mr-review/plan-58--remote-pr-mr-review.md
  .ai/strikethroo/archive/58--remote-pr-mr-review/review/base-commit.json
  .ai/strikethroo/archive/58--remote-pr-mr-review/review/round-1/findings.json
  .ai/strikethroo/archive/58--remote-pr-mr-review/tasks/01--amend-v3-schema-remote-attributes.md
  .ai/strikethroo/archive/58--remote-pr-mr-review/tasks/02--forgeprovider-interface-url-parsing.md
  .ai/strikethroo/archive/58--remote-pr-mr-review/tasks/03--github-provider.md
  .ai/strikethroo/archive/58--remote-pr-mr-review/tasks/04--gitlab-provider.md
  .ai/strikethroo/archive/58--remote-pr-mr-review/tasks/05--diff-materializer.md
  .ai/strikethroo/archive/58--remote-pr-mr-review/tasks/06--deterministic-thread-mapper.md
  .ai/strikethroo/archive/58--remote-pr-mr-review/tasks/07--fetch-comments-subcommand.md
  .ai/strikethroo/archive/58--remote-pr-mr-review/tasks/08--app-remote-mode-main-process.md
  .ai/strikethroo/archive/58--remote-pr-mr-review/tasks/09--renderer-url-entry-drift-warning.md
  .ai/strikethroo/archive/58--remote-pr-mr-review/tasks/10--documentation-and-skill-updates.md
  .ai/strikethroo/runtime/harness-availability.json
Due: prettier --write

fix(remote): clean up temporary clone when remote diff loading fails
  src/main/remote-mode.test.ts
  src/main/remote-mode.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix(remote): select old path for deleted files in fetch-comments output
  .ai/strikethroo/archive/58--remote-pr-mr-review/review/round-1/findings.json
  .ai/strikethroo/archive/58--remote-pr-mr-review/review/round-1/review.xml.recovered
  .ai/strikethroo/runtime/harness-availability.json
  src/main/fetch-comments.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(plan-58): certify review gate and record round outcomes
  .ai/strikethroo/archive/58--remote-pr-mr-review/plan-58--remote-pr-mr-review.md
  .ai/strikethroo/archive/58--remote-pr-mr-review/review/round-2/findings.json
Due: prettier --write

fix(remote): address review-gate follow-ups across save, previews, and welcome flow
  .devcontainer/devcontainer.json
  packages/core/src/git.ts
  packages/react/src/adapter.ts
  packages/react/src/components/DiffViewer/FileSectionHeader.tsx
  packages/react/src/components/FileTreeEntry.tsx
  packages/react/src/context/ReviewContext.test.tsx
  packages/react/src/context/ReviewContext.tsx
  src/main/git.ts
  src/main/ipc-handlers.test.ts
  src/main/ipc-handlers.ts
  src/main/main.ts
  src/main/remote-mode.test.ts
  src/main/remote-mode.ts
  src/preload/preload.ts
  src/renderer/App.tsx
  src/shared/types.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

Delete docs/intent/remote-pr-review.md
  docs/intent/remote-pr-review.md
Due: prettier --write

Delete docs/intent/llm-review-guide.md
  docs/intent/llm-review-guide.md
Due: prettier --write

Delete .ai/strikethroo/runtime/harness-availability.json
  .ai/strikethroo/runtime/harness-availability.json
Due: prettier --write

chore(release): 1.43.0 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/types/package.json
Due: prettier --write

Notes added by 'git notes add'
  271f8ab454b6809b2c7e8618c22edb0168c15930
Due: none
