Repository e0ipso/self-review: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-eslint.js, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["node scripts/lint-staged-eslint.js", "prettier --write"],
  "*.{js,jsx}": ["node scripts/lint-staged-eslint.js", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore(release): 1.6.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  39b86b7f23fde147173e0d225ca6ff52e2dd10a4
Due: none

feat: auto-focus editor and reorder categories
  src/main/config.test.ts
  src/main/config.ts
  src/renderer/components/Comments/CommentInput.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: auto-focus editor and reorder categories (#8)
  src/main/config.test.ts
  src/main/config.ts
  src/renderer/components/Comments/CommentInput.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

Notes added by 'git notes add'
  98d8e7128b16eb17a76af85e0db3aa5211d8577d
Due: none

chore(release): 1.7.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

fix: comment editor fills full height
  src/index.css
Due: none

feat: force unified view for added/deleted files
  docs/PRD.md
  src/renderer/components/DiffViewer/FileSection.tsx
  tests/features/05-view-modes-and-toolbar.feature
Due: node scripts/lint-staged-eslint.js, prettier --write

test: add E2E step for per-file view mode
  tests/features/05-view-modes-and-toolbar.feature
  tests/steps/05-view-modes-and-toolbar.steps.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: close file-level comment form on submit
  src/renderer/components/DiffViewer/FileSection.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: use project name in welcome screen title
  src/renderer/components/WelcomeScreen.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

test: fix E2E for view modes and welcome
  tests/features/05-view-modes-and-toolbar.feature
  tests/features/09-error-handling.feature
  tests/fixtures/test-repo.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

Notes added by 'git notes add'
  bb306b96c151386a8a69f6cfb196654e28140e17
Due: none

chore(release): 1.8.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

feat: add desktop integration files
  flatpak/com.mateuaguilo.SelfReview.desktop
  flatpak/com.mateuaguilo.SelfReview.metainfo.xml
Due: none

feat: add Flatpak manifest and config
  flatpak/com.mateuaguilo.SelfReview.yml
  flatpak/flathub.json
Due: prettier --write

docs: add Flatpak install instructions
  AGENTS.md
  README.md
Due: prettier --write

fix(flatpak): address review feedback
  .releaserc.json
  flatpak/com.mateuaguilo.SelfReview.desktop
  flatpak/com.mateuaguilo.SelfReview.metainfo.xml
  flatpak/com.mateuaguilo.SelfReview.yml
  package-lock.json
  package.json
Due: prettier --write

fix: comment click off-by-one in unified view
  src/renderer/components/DiffViewer/FileSection.tsx
  src/renderer/hooks/useKeyboardNavigation.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: add Flatpak/Flathub packaging (#9)
  .releaserc.json
  AGENTS.md
  README.md
  flatpak/com.mateuaguilo.SelfReview.desktop
  flatpak/com.mateuaguilo.SelfReview.metainfo.xml
  flatpak/com.mateuaguilo.SelfReview.yml
  flatpak/flathub.json
  package-lock.json
  package.json
  src/renderer/components/DiffViewer/FileSection.tsx
  src/renderer/hooks/useKeyboardNavigation.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(release): 1.9.0 [skip ci]
  flatpak/com.mateuaguilo.SelfReview.metainfo.xml
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  16b06907f4394f623c1681193ef19f8b8b729b9f
Due: none

fix: scope scroll queries to diff viewer
  src/renderer/context/DiffNavigationContext.tsx
  src/renderer/hooks/useDiffNavigation.test.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: tooltip renders above sticky file headers
  src/renderer/components/ui/tooltip.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

revert: remove Flatpak/Flathub packaging
  .releaserc.json
  AGENTS.md
  README.md
  flatpak/com.mateuaguilo.SelfReview.desktop
  flatpak/com.mateuaguilo.SelfReview.metainfo.xml
  flatpak/com.mateuaguilo.SelfReview.yml
  flatpak/flathub.json
  package-lock.json
  package.json
Due: prettier --write

fix: compensate scroll on file collapse
  src/renderer/components/DiffViewer/DiffViewer.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: pair deletions and additions in split view
  src/renderer/components/DiffViewer/SplitView.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: scope data-file-path queries to diff panel
  src/renderer/components/DiffViewer/DiffViewer.tsx
  src/renderer/context/DiffNavigationContext.tsx
  src/renderer/hooks/useDiffNavigation.test.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: move shortcuts to tooltip, fix z-index
  src/renderer/components/FileTree.tsx
  src/renderer/components/ui/tooltip.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: add expand context buttons to diff hunks
  AGENTS.md
  src/main/ipc-handlers.ts
  src/preload/preload.ts
  src/renderer/components/DiffViewer/ExpandContextBar.tsx
  src/renderer/components/DiffViewer/FileSection.tsx
  src/renderer/components/DiffViewer/SplitView.tsx
  src/renderer/components/DiffViewer/UnifiedView.tsx
  src/renderer/context/ReviewContext.tsx
  src/shared/ipc-channels.ts
  src/shared/types.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: directional context expansion
  src/renderer/components/DiffViewer/FileSection.tsx
  src/renderer/components/DiffViewer/diff-utils.ts
  src/renderer/context/ReviewContext.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

test: add e2e tests for expand context
  docs/PRD.md
  tests/features/12-expand-context.feature
  tests/steps/12-expand-context.steps.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(release): 1.10.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  40feb660d5a3020a8c25d5ac6803131c65982716
Due: none

feat: install mermaid and typography dependencies
  package-lock.json
  package.json
  src/index.css
Due: prettier --write

feat: add rendered markdown view
  src/renderer/components/DiffViewer/FileSection.tsx
  src/renderer/components/DiffViewer/RenderedMarkdownView.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

docs: update for rendered markdown view
  AGENTS.md
  docs/PRD.md
  package-lock.json
  package.json
  src/index.css
  src/renderer/components/DiffViewer/RenderedMarkdownView.tsx
  tests/features/13-rendered-markdown.feature
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: rendered markdown view for new files (#12)
  AGENTS.md
  docs/PRD.md
  package-lock.json
  package.json
  src/index.css
  src/renderer/components/DiffViewer/FileSection.tsx
  src/renderer/components/DiffViewer/RenderedMarkdownView.tsx
  tests/features/13-rendered-markdown.feature
Due: node scripts/lint-staged-eslint.js, prettier --write

Notes added by 'git notes add'
  ec1f75d87e72b80bdbc3ae68bc4df20c177f5082
Due: none

chore(release): 1.11.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write
