Repository e0ipso/self-review: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-eslint.js, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["node scripts/lint-staged-eslint.js", "prettier --write"],
  "*.{js,jsx}": ["node scripts/lint-staged-eslint.js", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

feat: add author attribution to review comments (#72)
  packages/react/src/components/DiffViewer/FileSection.tsx
  packages/react/src/components/DiffViewer/FileSectionHeader.tsx
  packages/react/src/components/DiffViewer/HunkHeader.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

Notes added by 'git notes add'
  2fa985d8e6f7cc36863554a8b2f387476b9ce25e
Due: none

fix: restore sticky file section headers
  packages/react/src/components/DiffViewer/FileSection.tsx
  packages/react/src/components/DiffViewer/FileSectionBody.tsx
  packages/react/src/components/DiffViewer/FileSectionHeader.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(release): 1.32.1 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/types/package.json
Due: prettier --write

Notes added by 'git notes add'
  2c9538c3d45e9cc9233e90410521caa668eff30d
Due: none

feat(diff-header): add copy file-path button
  packages/react/src/components/DiffViewer/FileSectionHeader.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

feat(diff-header): add copy file-path button (#76)
  packages/react/src/components/DiffViewer/FileSectionHeader.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(release): 1.33.0 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/types/package.json
Due: prettier --write

Notes added by 'git notes add'
  abcf52fa9cac01d9ea01f224e789d09719fa69ca
Due: none

fix: prefill code suggestions with original code (#77)
  docs/PRD.md
  packages/react/src/components/Comments/CommentInput.tsx
  tests/webapp-features/04-suggestions.feature
  tests/webapp-steps/04-suggestions.steps.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: prefill code suggestions with original code (#77) (#78)
  docs/PRD.md
  packages/react/src/components/Comments/CommentInput.tsx
  tests/webapp-features/04-suggestions.feature
  tests/webapp-steps/04-suggestions.steps.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: treat empty .self-review.yaml as "use defaults" (#79) (#80)
  packages/core/src/config.test.ts
  packages/core/src/config.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(release): 1.33.1 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/types/package.json
Due: prettier --write

Notes added by 'git notes add'
  ec5c25f0062281c8e2c6c8417a7d4d8bb755ebe1
Due: none

fix(layout): keep toolbar pinned when diff content overflows
  packages/react/src/components/Toolbar.tsx
  src/renderer/App.tsx
  src/renderer/components/UpdateBanner.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

test(e2e): add regression test for pinned toolbar
  tests/webapp-features/05-view-modes-and-toolbar.feature
  tests/webapp-steps/05-view-modes-and-toolbar.steps.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

style(diff-viewer): apply blue tint to hunk separator and expand-context bars
  packages/react/src/components/DiffViewer/ExpandContextBar.tsx
  packages/react/src/components/DiffViewer/HunkHeader.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

fix(layout): keep toolbar pinned when diff content overflows (#82)
  packages/react/src/components/Toolbar.tsx
  src/renderer/App.tsx
  src/renderer/components/UpdateBanner.tsx
  tests/webapp-features/05-view-modes-and-toolbar.feature
  tests/webapp-steps/05-view-modes-and-toolbar.steps.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix(diff-viewer): apply blue tint to hunk separator and expand-context bars (#84)
  packages/react/src/components/DiffViewer/ExpandContextBar.tsx
  packages/react/src/components/DiffViewer/HunkHeader.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(release): 1.33.2 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/types/package.json
Due: prettier --write

Notes added by 'git notes add'
  c9d8399295d3b309383500faabfabb342a0e4240
Due: none

fix(file-tree): truncate overflowing filenames so right-side controls stay visible
  packages/react/src/components/TruncatedPath.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

fix(file-tree): truncate overflowing filenames so right-side controls stay visible (#86)
  packages/react/src/components/TruncatedPath.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(release): 1.33.3 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/types/package.json
Due: prettier --write

Notes added by 'git notes add'
  8e88d41aeaab8215f8cb87c163ad5b14d1d49b70
Due: none

fix(hints): hide non-matching hint labels as the user types
  packages/react/src/components/HintOverlay.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

fix(hints): hide non-matching hint labels as the user types (#88)
  packages/react/src/components/HintOverlay.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(release): 1.33.4 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/types/package.json
Due: prettier --write

Notes added by 'git notes add'
  15a70c2eec9f8e8256474cce79de06f0e6019807
Due: none

fix(file-tree): replace nested button in viewed-toggle with span role=button
  packages/react/src/components/FileTreeEntry.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

fix(file-tree): replace nested button in viewed-toggle with span role=button (#90)
  packages/react/src/components/FileTreeEntry.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(release): 1.33.5 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/types/package.json
Due: prettier --write

Notes added by 'git notes add'
  4465045537f931c7e11431b2e2339ed9784abd64
Due: none

feat(react): expose adapter prop on SingleFileReview
  packages/react/src/SingleFileReview.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

test(react): cover SingleFileReview adapter merge behavior
  packages/react/src/SingleFileReview.test.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

feat(react): expose adapter prop on SingleFileReview (#93)
  packages/react/src/SingleFileReview.test.tsx
  packages/react/src/SingleFileReview.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(release): 1.34.0 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/types/package.json
Due: prettier --write

Notes added by 'git notes add'
  6cdb30958027cc661b445d0444f86aa08143e75f
Due: none

feat(react): move Split/Unified toggle into FileTree header
  packages/react/src/components/FileTree.tsx
  packages/react/src/components/Toolbar.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

test(react): cover FileTree view-mode toggle and update docs
  docs/PRD.md
  packages/react/src/components/FileTree.test.tsx
  tests/webapp-features/05-view-modes-and-toolbar.feature
  tests/webapp-steps/05-view-modes-and-toolbar.steps.ts
Due: node scripts/lint-staged-eslint.js, prettier --write
