Repository e0ipso/self-review: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-staged-eslint.js, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["node scripts/lint-staged-eslint.js", "prettier --write"],
  "*.{js,jsx}": ["node scripts/lint-staged-eslint.js", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore: update t3 mapping port
  .devcontainer/devcontainer.json
Due: prettier --write

fix: preserve clone transport fallback
  .ai/kenkeep/ENTRY.md
  .ai/kenkeep/GRAPH.md
  .ai/kenkeep/nodes/app/cli/index.md
  .ai/kenkeep/nodes/app/index.md
  .ai/kenkeep/nodes/review-xml/schema/index.md
  packages/core/src/index.ts
  packages/core/src/materializer.test.ts
  packages/core/src/materializer.ts
  src/main/fetch-comments.test.ts
  src/main/fetch-comments.ts
  src/main/remote-mode.test.ts
  src/main/remote-mode.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: preserve clone transport fallback (#131)
  .ai/kenkeep/ENTRY.md
  .ai/kenkeep/GRAPH.md
  .ai/kenkeep/nodes/app/cli/index.md
  .ai/kenkeep/nodes/app/index.md
  .ai/kenkeep/nodes/review-xml/schema/index.md
  packages/core/src/index.ts
  packages/core/src/materializer.test.ts
  packages/core/src/materializer.ts
  src/main/fetch-comments.test.ts
  src/main/fetch-comments.ts
  src/main/remote-mode.test.ts
  src/main/remote-mode.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(release): 1.43.1 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/types/package.json
Due: prettier --write

Notes added by 'git notes add'
  585469cf14c556e8dadd08f3b6c9acbeb781b6f7
Due: none

chore: update Strikethroo and Kenkeep
  .agents/skills/st-code-review/SKILL.md
  .agents/skills/st-code-review/scripts/code-review.cjs
  .agents/skills/st-execute-blueprint/SKILL.md
  .agents/skills/st-execute-blueprint/scripts/dispatch-task-execution.cjs
  .agents/skills/st-execute-task/scripts/dispatch-task-execution.cjs
  .agents/skills/st-full-workflow/SKILL.md
  .agents/skills/st-full-workflow/scripts/dispatch-task-execution.cjs
  .ai/strikethroo/.gitignore
  .ai/strikethroo/.init-metadata.json
  .ai/strikethroo/config/config.yaml
  skills-lock.json
Due: prettier --write

chore: update Strikethroo
  .ai/strikethroo/.init-metadata.json
Due: prettier --write

chore: update devcontainer for CLI compatibility
  .devcontainer/devcontainer.json
Due: prettier --write

fix(macos): re-exec from real bundle path on symlinked launch
  src/main/main.ts
  src/main/relaunch-guard.test.ts
  src/main/relaunch-guard.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix(macos): handle bare-name PATH launch and correct re-exec exit code
  src/main/relaunch-guard.test.ts
  src/main/relaunch-guard.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: expose the shared review handlers as serve-mode data routes
  .ai/strikethroo/plans/59--serve-mode-browser-review/plan-59--serve-mode-browser-review.md
  .ai/strikethroo/plans/59--serve-mode-browser-review/tasks/03--serve-mode-data-routes.md
  src/main/review-handlers.ts
  src/main/serve/client-assets.ts
  src/main/serve/request-paths.ts
  src/main/serve/server.test.ts
  src/main/serve/server.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

docs: rewrite the serve-mode README section for use, not rationale
  AGENTS.md
  README.md
Due: prettier --write

docs: align the archived plan 59 with what actually shipped
  .ai/strikethroo/archive/59--serve-mode-browser-review/plan-59--serve-mode-browser-review.md
  .ai/strikethroo/archive/59--serve-mode-browser-review/tasks/01--extract-transport-agnostic-handlers.md
  .ai/strikethroo/archive/59--serve-mode-browser-review/tasks/02--serve-mode-server-bootstrap-and-cli.md
  .ai/strikethroo/archive/59--serve-mode-browser-review/tasks/03--serve-mode-data-routes.md
  .ai/strikethroo/archive/59--serve-mode-browser-review/tasks/04--http-review-adapter.md
  .ai/strikethroo/archive/59--serve-mode-browser-review/tasks/05--serve-mode-browser-client.md
  .ai/strikethroo/archive/59--serve-mode-browser-review/tasks/06--unit-tests-routes-and-adapter.md
  .ai/strikethroo/archive/59--serve-mode-browser-review/tasks/07--playwright-serve-e2e-project.md
  .ai/strikethroo/archive/59--serve-mode-browser-review/tasks/08--document-serve-mode.md
Due: prettier --write

feat: add the serve-mode browser client and close the test gaps
  .ai/strikethroo/plans/59--serve-mode-browser-review/plan-59--serve-mode-browser-review.md
  .ai/strikethroo/plans/59--serve-mode-browser-review/tasks/05--serve-mode-browser-client.md
  .ai/strikethroo/plans/59--serve-mode-browser-review/tasks/06--unit-tests-routes-and-adapter.md
  forge.config.ts
  package.json
  packages/react/src/components/FileTree.tsx
  src/main/serve/server.test.ts
  src/serve-client/adapter.test.ts
  src/serve-client/adapter.ts
  src/serve-client/config-adapter.test.ts
  src/serve-client/config-adapter.ts
  src/serve-client/finish.test.ts
  src/serve-client/finish.ts
  src/serve-client/index.html
  src/serve-client/main.tsx
  src/serve-client/styles.css
  src/serve-client/vite.config.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: stop serve mode when the process that launched it dies
  src/main/review-handlers.ts
  src/main/serve/bootstrap.ts
  src/main/serve/orphan-guard.test.ts
  src/main/serve/orphan-guard.ts
  src/main/serve/server.test.ts
  src/main/serve/server.ts
  src/serve-client/config-adapter.test.ts
  src/serve-client/config-adapter.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: implement the HTTP ReviewAdapter for serve mode
  .ai/strikethroo/plans/59--serve-mode-browser-review/plan-59--serve-mode-browser-review.md
  .ai/strikethroo/plans/59--serve-mode-browser-review/tasks/04--http-review-adapter.md
  src/serve-client/adapter.test.ts
  src/serve-client/adapter.ts
  vitest.config.renderer.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

chore: archive plan 59 after successful execution
  .ai/strikethroo/archive/59--serve-mode-browser-review/plan-59--serve-mode-browser-review.md
  .ai/strikethroo/archive/59--serve-mode-browser-review/tasks/01--extract-transport-agnostic-handlers.md
  .ai/strikethroo/archive/59--serve-mode-browser-review/tasks/02--serve-mode-server-bootstrap-and-cli.md
  .ai/strikethroo/archive/59--serve-mode-browser-review/tasks/03--serve-mode-data-routes.md
  .ai/strikethroo/archive/59--serve-mode-browser-review/tasks/04--http-review-adapter.md
  .ai/strikethroo/archive/59--serve-mode-browser-review/tasks/05--serve-mode-browser-client.md
  .ai/strikethroo/archive/59--serve-mode-browser-review/tasks/06--unit-tests-routes-and-adapter.md
  .ai/strikethroo/archive/59--serve-mode-browser-review/tasks/07--playwright-serve-e2e-project.md
  .ai/strikethroo/archive/59--serve-mode-browser-review/tasks/08--document-serve-mode.md
Due: prettier --write

refactor: extract transport-agnostic review handlers from the IPC layer
  .ai/strikethroo/plans/59--serve-mode-browser-review/plan-59--serve-mode-browser-review.md
  .ai/strikethroo/plans/59--serve-mode-browser-review/tasks/01--extract-transport-agnostic-handlers.md
  .ai/strikethroo/plans/59--serve-mode-browser-review/tasks/02--serve-mode-server-bootstrap-and-cli.md
  .ai/strikethroo/plans/59--serve-mode-browser-review/tasks/03--serve-mode-data-routes.md
  .ai/strikethroo/plans/59--serve-mode-browser-review/tasks/04--http-review-adapter.md
  .ai/strikethroo/plans/59--serve-mode-browser-review/tasks/05--serve-mode-browser-client.md
  .ai/strikethroo/plans/59--serve-mode-browser-review/tasks/06--unit-tests-routes-and-adapter.md
  .ai/strikethroo/plans/59--serve-mode-browser-review/tasks/07--playwright-serve-e2e-project.md
  .ai/strikethroo/plans/59--serve-mode-browser-review/tasks/08--document-serve-mode.md
  src/main/ipc-handlers.test.ts
  src/main/ipc-handlers.ts
  src/main/review-handlers.test.ts
  src/main/review-handlers.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

test: cover the full served review loop, and document serve mode
  .ai/strikethroo/plans/59--serve-mode-browser-review/plan-59--serve-mode-browser-review.md
  .ai/strikethroo/plans/59--serve-mode-browser-review/tasks/07--playwright-serve-e2e-project.md
  .ai/strikethroo/plans/59--serve-mode-browser-review/tasks/08--document-serve-mode.md
  AGENTS.md
  README.md
  package.json
  playwright.config.ts
  tests/serve/serve-mode.spec.ts
  tests/serve/serve-session.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

feat: add serve-mode HTTP bootstrap, CLI flags, and session lifecycle
  .ai/strikethroo/plans/59--serve-mode-browser-review/plan-59--serve-mode-browser-review.md
  .ai/strikethroo/plans/59--serve-mode-browser-review/tasks/02--serve-mode-server-bootstrap-and-cli.md
  src/main/cli.test.ts
  src/main/cli.ts
  src/main/main.ts
  src/main/serve/bootstrap.test.ts
  src/main/serve/bootstrap.ts
  src/main/serve/client-assets.test.ts
  src/main/serve/client-assets.ts
  src/main/serve/server.test.ts
  src/main/serve/server.ts
  src/main/startup-mode.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

refactor: make serve a subcommand, and trim the new comments back
  AGENTS.md
  README.md
  packages/react/src/components/FileTree.tsx
  src/main/cli.test.ts
  src/main/cli.ts
  src/main/main.ts
  src/main/serve/bootstrap.ts
  src/main/serve/orphan-guard.ts
  src/main/serve/request-paths.ts
  src/serve-client/config-adapter.ts
  tests/serve/serve-session.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

build: declare vite as a devDependency
  package-lock.json
  package.json
Due: prettier --write

fix(macos): re-exec from real bundle path on symlinked launch (#135)
  src/main/main.ts
  src/main/relaunch-guard.test.ts
  src/main/relaunch-guard.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(release): 1.43.2 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/types/package.json
Due: prettier --write

Notes added by 'git notes add'
  06ee7fb5ed274eac290cc36fae884dbcb2a33177
Due: none

chore: update Strikethroo
  .agents/skills/st-code-review/SKILL.md
  .agents/skills/st-code-review/scripts/code-review.cjs
  .agents/skills/st-create-plan/SKILL.md
  .agents/skills/st-execute-blueprint/SKILL.md
  .agents/skills/st-execute-blueprint/scripts/capture-base-commit.cjs
  .agents/skills/st-execute-blueprint/scripts/create-feature-branch.cjs
  .agents/skills/st-execute-blueprint/scripts/dispatch-task-execution.cjs
  .agents/skills/st-execute-task/scripts/dispatch-task-execution.cjs
  .agents/skills/st-full-workflow/SKILL.md
  .agents/skills/st-full-workflow/scripts/capture-base-commit.cjs
  .agents/skills/st-full-workflow/scripts/create-feature-branch.cjs
  .agents/skills/st-full-workflow/scripts/dispatch-task-execution.cjs
  .agents/skills/st-generate-tasks/SKILL.md
  .ai/strikethroo/.gitignore
  .ai/strikethroo/.init-metadata.json
  .ai/strikethroo/config/config.yaml
  .ai/strikethroo/config/hooks/CODE_REVIEW.md
  skills-lock.json
Due: prettier --write

fix: hide the output path change button when it cannot work
  packages/react/src/components/FileTree.test.tsx
  packages/react/src/components/FileTree.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

refactor: give the review handlers an explicit session and their own module
  .ai/strikethroo/archive/60--extract-transport-agnostic-review-handlers/after-electron.txt
  .ai/strikethroo/archive/60--extract-transport-agnostic-review-handlers/baseline-electron.txt
  .ai/strikethroo/archive/60--extract-transport-agnostic-review-handlers/plan-60--extract-transport-agnostic-review-handlers.md
  .ai/strikethroo/archive/60--extract-transport-agnostic-review-handlers/tasks/01--capture-packaged-suite-baseline.md
  .ai/strikethroo/archive/60--extract-transport-agnostic-review-handlers/tasks/02--extract-startup-mode-module.md
  .ai/strikethroo/archive/60--extract-transport-agnostic-review-handlers/tasks/03--extract-session-and-core-handlers.md
  .ai/strikethroo/archive/60--extract-transport-agnostic-review-handlers/tasks/04--extract-review-start-handler.md
  .ai/strikethroo/archive/60--extract-transport-agnostic-review-handlers/tasks/05--unit-test-extracted-handlers.md
  .ai/strikethroo/archive/60--extract-transport-agnostic-review-handlers/tasks/06--update-agents-documentation.md
  .ai/strikethroo/archive/60--extract-transport-agnostic-review-handlers/tasks/07--compare-packaged-suite-against-baseline.md
  AGENTS.md
  src/main/ipc-handlers.ts
  src/main/main.ts
  src/main/review-handlers.test.ts
  src/main/review-handlers.ts
  src/main/startup-mode.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

test: wait for the diff before finishing a directory review
  tests/features/11-welcome-screen.feature
Due: none

fix: hide Change hint when path cannot change
  packages/react/src/components/Toolbar.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

fix: hide the output path change button when it cannot work (#139)
  packages/react/src/components/FileTree.test.tsx
  packages/react/src/components/FileTree.tsx
  packages/react/src/components/Toolbar.tsx
Due: node scripts/lint-staged-eslint.js, prettier --write

chore(release): 1.43.3 [skip ci]
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/types/package.json
Due: prettier --write

Notes added by 'git notes add'
  5403953b0502fe2b43482883bbd2f9c137454c6b
Due: none

test: cover startup-mode and the review-start path, drop ipc naming from review-handlers
  src/main/ipc-handlers.test.ts
  src/main/review-handlers.test.ts
  src/main/review-handlers.ts
  src/main/startup-mode.test.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

test: wait for the diff before finishing a directory review (#141)
  tests/features/11-welcome-screen.feature
Due: none

refactor: give the review handlers an explicit session and their own module (#140)
  .ai/strikethroo/archive/60--extract-transport-agnostic-review-handlers/after-electron.txt
  .ai/strikethroo/archive/60--extract-transport-agnostic-review-handlers/baseline-electron.txt
  .ai/strikethroo/archive/60--extract-transport-agnostic-review-handlers/plan-60--extract-transport-agnostic-review-handlers.md
  .ai/strikethroo/archive/60--extract-transport-agnostic-review-handlers/tasks/01--capture-packaged-suite-baseline.md
  .ai/strikethroo/archive/60--extract-transport-agnostic-review-handlers/tasks/02--extract-startup-mode-module.md
  .ai/strikethroo/archive/60--extract-transport-agnostic-review-handlers/tasks/03--extract-session-and-core-handlers.md
  .ai/strikethroo/archive/60--extract-transport-agnostic-review-handlers/tasks/04--extract-review-start-handler.md
  .ai/strikethroo/archive/60--extract-transport-agnostic-review-handlers/tasks/05--unit-test-extracted-handlers.md
  .ai/strikethroo/archive/60--extract-transport-agnostic-review-handlers/tasks/06--update-agents-documentation.md
  .ai/strikethroo/archive/60--extract-transport-agnostic-review-handlers/tasks/07--compare-packaged-suite-against-baseline.md
  AGENTS.md
  src/main/ipc-handlers.test.ts
  src/main/ipc-handlers.ts
  src/main/main.ts
  src/main/review-handlers.test.ts
  src/main/review-handlers.ts
  src/main/startup-mode.test.ts
  src/main/startup-mode.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

refactor(core): move the Node-only engine layer into packages/core
  .ai/strikethroo/archive/61--shared-engine-workspace-package/plan-61--shared-engine-workspace-package.md
  .ai/strikethroo/archive/61--shared-engine-workspace-package/tasks/01--record-pre-change-validation-baselines.md
  .ai/strikethroo/archive/61--shared-engine-workspace-package/tasks/02--create-private-engine-workspace-package.md
  .ai/strikethroo/archive/61--shared-engine-workspace-package/tasks/03--move-engine-modules-and-repoint-imports.md
  .ai/strikethroo/archive/61--shared-engine-workspace-package/tasks/04--extract-normalize-git-diff-args-from-cli.md
  .ai/strikethroo/archive/61--shared-engine-workspace-package/tasks/05--move-fetch-comments-as-its-own-commit.md
  .ai/strikethroo/archive/61--shared-engine-workspace-package/tasks/06--verify-package-boundary-and-run-validation.md
  .ai/strikethroo/archive/61--shared-engine-workspace-package/tasks/07--document-the-engine-package.md
  AGENTS.md
  packages/core/package.json
  packages/core/src/git-diff-args.test.ts
  packages/core/src/git-diff-args.ts
  packages/core/src/git-diff-loader.ts
  packages/core/src/guide-loader.test.ts
  packages/core/src/guide-loader.ts
  packages/core/src/index.ts
  packages/core/src/remote-mode.test.ts
  packages/core/src/remote-mode.ts
  packages/core/src/review-handlers.test.ts
  packages/core/src/review-handlers.ts
  packages/core/src/staged-untracked.test.ts
  packages/core/src/staged-untracked.ts
  packages/core/src/startup-mode.test.ts
  packages/core/src/startup-mode.ts
  src/main/cli.test.ts
  src/main/cli.ts
  src/main/diff-parser.ts
  src/main/git.ts
  src/main/ipc-handlers.test.ts
  src/main/ipc-handlers.ts
  src/main/main.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

refactor(core): move fetch-comments into packages/core
  packages/core/src/fetch-comments.test.ts
  packages/core/src/fetch-comments.ts
  packages/core/src/index.ts
  src/main/main.ts
Due: node scripts/lint-staged-eslint.js, prettier --write

chore: update strikethroo config
  .agents/skills/st-code-review/SKILL.md
  .agents/skills/st-code-review/references/review-example.xml.md
  .agents/skills/st-code-review/scripts/code-review.cjs
  .agents/skills/st-create-plan/SKILL.md
  .agents/skills/st-create-plan/scripts/check-for-updates.cjs
  .agents/skills/st-execute-blueprint/SKILL.md
  .agents/skills/st-execute-blueprint/scripts/check-for-updates.cjs
  .agents/skills/st-execute-blueprint/scripts/dispatch-task-execution.cjs
  .agents/skills/st-execute-task/SKILL.md
  .agents/skills/st-execute-task/scripts/check-for-updates.cjs
  .agents/skills/st-execute-task/scripts/dispatch-task-execution.cjs
  .agents/skills/st-full-workflow/SKILL.md
  .agents/skills/st-full-workflow/references/complexity-rubric.md
  .agents/skills/st-full-workflow/scripts/check-for-updates.cjs
  .agents/skills/st-full-workflow/scripts/dispatch-task-execution.cjs
  .agents/skills/st-generate-tasks/SKILL.md
  .agents/skills/st-generate-tasks/references/complexity-rubric.md
  .agents/skills/st-generate-tasks/scripts/check-for-updates.cjs
  .agents/skills/st-refine-plan/SKILL.md
  .agents/skills/st-refine-plan/scripts/check-for-updates.cjs
  .ai/strikethroo/.init-metadata.json
  .ai/strikethroo/config/config.yaml
  .ai/strikethroo/config/schemas/self-review-v2.xsd
  .ai/strikethroo/config/templates/UPDATE_NOTICE_TEMPLATE.md
  skills-lock.json
Due: prettier --write

fix: prevent shell injection in git calls (#145)
  packages/core/src/git.process.test.ts
  packages/core/src/git.test.ts
  packages/core/src/git.ts
  src/main/startup-mode.test.ts
  src/main/startup-mode.ts
Due: node scripts/lint-staged-eslint.js, prettier --write
